/* SWITCH CONFIG */
label.switch {
    margin-bottom: 0 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
    margin-right: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -3px;
    top: -2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}

input:checked + .slider {
    background-color: #2e85ec;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2e85ec;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Page titles */
.page-title > a,
.page-title > a > span {
    color: #707070;
}
