.table-warning-roll {
    color: #EB6707 !important;
    background-color: #FDE2CE !important;
}

.table-responsive {
    overflow-x: hidden;
    overflow-y: hidden;
}

.detail-input{
    padding: 3px 6px;
    flex: 1;
    margin: 2px 0;
}

.fake-label{
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.card-bottom {
    display: block;
    z-index: 2;
    height: 20px;
    background-color: #2E85EC;
    border-radius: 16px 0px;
    width: 90px;
    position: relative;
    left: calc(100% - 90px);
}

.card .card-bottom.green {
    background: #5EE2A1;
}

.card .card-bottom.red {
    background: #F41C1C;
}

.quick-list {
    list-style-type: none;
    padding: 0;
}

.quick-list > li a {
    color: #0D2C54;
    font-weight: bold;
    font-size: 18px
}

.quick-list > li a:hover {
    color: #2E85EC;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.quick-list > li a::after {
    content: '\f9ff';
    font-family: "sirius-font";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    position: relative;
    opacity: 0;
    transition: 0.5s;
}

.quick-list > li a:hover::after {
    opacity: 1;
    padding-left: 5px;
}

.btn-light-1, .btn-primary-1 {
    box-shadow: 0 1px 15px #00000017;
    border-radius: 12px;
    padding: 15px;
    font-size: 14px;
}

.btn-light-1 {
    background-color: #FFF;
    color: #707070
}

.btn-light-1:hover {
    background-color: #F3F3F3;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary-1 {
    background-color: #2E85EC;
    color: #FFF;
}

.btn-primary-1:hover {
    background-color: #0D2C54;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.switch-text {
    font-size: 12px;
}

#icon-filtro {
    height: 10px;
    margin-right: 6px;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.page-content {
    padding: 0 30px;
}
