/* ========= CONFIGURATIONS MULTIPLE SELECT 2 BOX ========= */
.select2-container--default .select2-selection--multiple {
    border: 1px solid #cecece !important;
    border-radius: 8px;
    max-height: 43px;
    min-height: 43px;
    overflow-x: hidden !important;
}

/* CONFIGURATIONS THE INTERN CONTENT*/
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    height: 32px;
    border: none !important;
    padding-top: 5px !important;
}

/* SPESIFIC CONFIGURATION TO FIREFOX */
span.select2-selection.select2-selection--multiple {
    scrollbar-width: thin;
}
.select2-results__options {
    scrollbar-width: thin;
}
/* and */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
}

.select2-selection.select2-selection--multiple {
    border: none !important;
    border-radius: 8px !important;
}

.select2-container {
    border: 1px solid #e0e7ee;
    border-radius: 8px;
    /* focus #88BFFF */
}

.select2-container--open {
    border-color: #88bfff;
}

.default-border {
    outline: none;
    border: 1px solid #e0e7ee;
}
.default-border :focus {
    border: 1px solid #88bfff;
}

li.select2-selection__choice {
    min-height: 32px;
    height: auto !important;
    text-overflow: ellipsis !important;
    display: block !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.select2-search__field {
    width: 100% !important;
    padding-top: 5px !important;
}
/* END CONFIGURATIONS MULTIPLE SELECT 2 */

/* COMPORTAMENTO TELA */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #panel-graph,
    #panel-cards {
        min-height: 225px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    #panel-graph,
    #panel-cards {
        min-height: 200px !important;
    }
    #panel-graph {
        max-height: 200px;
    }
}

/* Trackings Table */
.fake-label {
    border-color: transparent !important;
    background-color: transparent !important;
}

@media (max-width: 768px) {
    .input-tracking-code {
        width: auto;
        margin: 0 auto;
    }
}

.td-odd {
    background-color: rgba(51, 51, 51, 0.06) !important;
}
/* END - Trackings Table */

/* Tutorial */

.import-example-table {
    width: 100%;
}

.import-example-table thead {
    background: #3e8ef7;
}

.import-example-table tbody tr:nth-child(even) {
    background: #ffffff;
}
.import-example-table tbody tr:nth-child(odd) {
    background: #e5e5e5;
}

.import-example-table th,
td {
    padding: 5px;
    vertical-align: middle;
}

.import-example-table th {
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
}

.import-example-table td {
    color: #000000;
}

.cell-selected {
    border: 2px solid green;
}

.cell-selected::after {
    content: "";
    width: 8px;
    height: 8px;
    background: green;
    position: relative;
    float: right;
    top: 18px;
    left: 8px;
    border: 1px solid #fff;
}

.cell-selected .caret {
    overflow: hidden;
    border-right: 0.15em solid #000;
    white-space: nowrap;
    display: inline-flex;
    max-width: 118px;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}

.cell-fade {
    background: linear-gradient(90deg, transparent, #fff);
    width: 100px;
    height: 120px;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

@media (max-width: 569px) {
    .cell-fade {
        right: -180px;
    }
}

/* END - Tutorial */

@media only screen and (min-width: 851px) {
    .col-md-3.card {
        margin-right: 10px;
        max-width: calc(25% - 10px);
    }
}

@media only screen and (min-width: 530px) and (max-width: 850px) {
    .col-sm-6.card {
        margin-right: 10px;
        max-width: calc(50% - 10px);
    }
}

h4.number {
    color: #57617c;
}

#btn-export-xls {
    border-radius: 0.5em 0 0 0.5em !important;
}

#btn-export-csv {
    border-radius: 0em 0.5em 0.5em 0 !important;
}
.disableFields {
    background-color: #f3f7f9;
}

/* ======== INPUT PESQUISAR POR DATA ======== */
input#date_updated {
    padding: 11px 16px 11px 16px !important;
}

/* ======== ALERTA DE PROBLEMA COM O CODIGO ======== */
.alert-tracking {
    background-color: #f6faff;
}
.alert-tracking span.alert-text {
    vertical-align: middle;
    padding-left: 5px;
}
.alert-tracking img {
    width: 24px;
}
.text-muted {
    color: #959595 !important;
}

/* ======== CARDS SETTINGS ======== */
.card-height {
    max-height: 101px;
}
.card-posted {
    border-top-left-radius: 8px !important;
}
.card-to-delivery {
    border-top-right-radius: 8px !important;
}
.card-delivery-problem {
    border-bottom-left-radius: 8px !important;
}
.card-delivered {
    border-bottom-right-radius: 8px !important;
}
.card-graphic-labels {
    border-radius: 8px !important;
}
.adjust .card-body {
    padding: 18px;
}

/* ======== CORES DA LEGENDA DO GRACIFO ======== */
.posted {
    color: #ffcd1b; /*postado em amarelo #ffcd1b*/
}
.onDelivery {
    color: #2e85ec; /*Saiu para entrega azul escuro #2E85EC*/
}
.delivered {
    color: #41dc8f;
}
.inTransit {
    color: #00b1ff; /*em trasito azul claro #00b1ff*/
}
.withProblem {
    color: #e81414;
}
.withoutInfo {
    color: #ebebeb;
}

/* ======== CORES DO STATUS NA TABELA ======== */
.statusPosted {
    background-color: #ffcd1b; /*postado em amarelo #ffcd1b*/
    color: white;
}
.statusOnDelivery {
    background-color: #2e85ec; /*Saiu para entrega azul escuro #2E85EC*/
    color: white;
}
.statusDelivered {
    background-color: #41dc8f;
    color: white;
}
.statusInTransit {
    background-color: #00b1ff; /*em trasito azul claro #00b1ff*/
    color: white;
}
.statusProblem {
    background-color: #e81414;
    color: white;
}
.statusWithoutInfo {
    background-color: #ebebeb;
    color: #999999 !important;
}

/* ======== ARRENDONDA FINAL DA TABELA ======== */
.no-final-space {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* ======== BOTAO DE ADICIONAR CODIGO ======== */
span.o-add-1.text-primary.border.border-primary {
    font-size: 25px;
    border-radius: 5px !important;
    border-width: 1px !important;
    padding: 0px 10px 0px 10px !important;
}

/* ======== INPUT CODIGO DE RASTREIO ======== */
input.form-control.font-weight-bold.input-tracking-code[readonly] {
    border: 1px solid;
    border-radius: 8px;
    border-color: #cecece;
    background: #f1f1f1;
}
input[type="text"]::placeholder {
    text-align: center;
}

/* ======== ALTURA E LARGURA PADRAO BOTAO ======== */
.default-buttons {
    height: 38px;
    width: 38px;
}

/* ======== BOTAO CHECKED SALVAR ======== */
a.tracking-save.pointer.mr-10.text-center {
    text-align: center;
    background: #2e85ec;
    border-radius: 5px;
    border-width: 1px !important;
    padding: 7px 9px 0px 9px !important;
    transition: 0.5s;
}
a.tracking-save.pointer.mr-10.text-center:hover {
    background: #206eca;
}
#pencil {
    font-size: 20px !important;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

/* ======== BOTAO FECHAR/CANCELAR ======== */
div.tracking-close.pointer {
    color: black;
    background: #ededed;
    border-radius: 5px;
    font-size: 25px;
    width: 36px;
    height: 38px;
    padding: 2px 0px 0px 8px;
    transition: 1s;
}
div.tracking-close.pointer:hover {
    background: #d1d1d1;
    font-size: 25px !important;
}

/* ======== BOTAO DE EDITAR CODIGO ======== */
a.tracking-edit.pointer {
    color: #f1f1f1;
    border: 1px solid !important;
    border-radius: 5px !important;
    padding: 7px 0px 0px 7px;
    min-width: 37px;
    background: #ebebeb;
}
span.text-right.o-edit-1 {
    border-radius: 5px !important;
    border-width: 2px !important;
    padding: 0px 7px 0px 7px !important;
}

/*  ======== BOTAO DE VISUALIZAR ======== */
a.tracking-detail.pointer {
    color: #f1f1f1;
}
span.o-eye-1 {
    padding: 6px 5px 0px 5px !important;
}

/* ======== TRATAMENTO DE IMAGEM QUANDO NAO TEM DADOS ======== */
div#dataCharts {
    position: relative;
    justify-content: flex-end;
    border-radius: 8px;
}
#noData {
    z-index: 1;
    position: relative;
    height: 105px;
    border-radius: 8px;
}

/* ======== GRAFICO DE RESULTADO EM CANVAS ======== */
#myChart {
    max-width: 160px !important;
    max-height: 160px !important;
    margin: auto;
    z-index: 1;
}

/* ======== DIV APRESENTAÇÂO DE TOTAL NO CENTRO DO GRAFICO ======== */
.total-container {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 32%;
    left: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    flex-direction: column;
}
span#total-products {
    font-size: 24px;
    font-weight: bold;
    color: #0d2c54;
    margin-top: 4px;
}
td.table-title {
    color: #0d2c54 !important;
}
.resume-number {
    font-size: 24px;
    font-weight: bold;
}
#graphic-loading {
    height: 100%;
    width: 95%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
#alert-tracking-issues {
    border-radius: 10px;
}
.labels {
    margin-top: 9px;
    margin-bottom: 9px;
}
.nav-btn {
    height: 36px;
}
.table td:nth-child(2) span {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
