#pagination-statement {
    margin: 15px 0;
}

#pagination-statement a {
    /*font-size: 12px;*/
    /*cursor: pointer;*/
    /*margin: 0 5px;*/
    /*color: #333;*/
    margin-right: 5px;
    background: transparent;
    color: #888;
    border-radius: 40px;
    border: none;
    font-weight: 700
}

#pagination-statement a:hover {
}

#pagination-statement a.jp-previous {
    margin-right: 15px;
}

#pagination-statement a.jp-next {
    margin-left: 15px;
}

#pagination-statement a.jp-current, a.jp-current:hover {
    color:  #2E85EC;
    font-weight: bold;
}

#pagination-statement a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

#pagination-statement a.jp-current, a.jp-current:hover,
#pagination-statement a.jp-disabled, a.jp-disabled:hover {
    cursor: default;
    background: none;
}

#pagination-statement span {
    margin: 0 5px;
}

.badge-in_review {
    background-color: #FFB400;
}

.badge-partially-liquidating {
    background-color: #0D2C54;
}

.badge-process {
    background-color: #FF7900;
}
