.conteudoCheckout {

  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section {
  display: block;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(270deg, #000, #fff);
  background-image: linear-gradient(180deg, #000, #fff);
}

.div-block {
  display: block;
  width: 80%;
  min-height: 400px;
  margin-top: 0%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.link { color: rgb(192,192,192, 0.5); margin: 5px 5px;}


.body {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  /*background-color: transparent;
   background-image: -webkit-linear-gradient(270deg, #2dc2d6, #2dc2d6);
  background-image: linear-gradient(180deg, #2dc2d6, #2dc2d6); */
  font-family: Lato, sans-serif;
}

.body.blue {
  background-image: -webkit-linear-gradient(270deg, #2dc2d6, #2dc2d6);
  background-image: linear-gradient(180deg, #2dc2d6, #2dc2d6);
}

.body.roxo {
  background-image: -webkit-linear-gradient(270deg, #502294, #502294);
  background-image: linear-gradient(180deg, #502294, #502294);
}

.body.laranja {
  background-image: -webkit-linear-gradient(270deg, #58207e, #58207e);
  background-image: linear-gradient(180deg, #58207e, #58207e);
}

.corpo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: auto;
  min-height: auto;
  margin: 2% auto 4%;
  padding-top: 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none;
  border-color: #000;
  border-radius: 5px 6px 5px 5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);

   -webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
}

.corpo.confirmacao {
  min-height: 200px;
  padding: 20px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

   -webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
}

.corpo.atendimento {
  display: inline-block;
  width: 600px;
  min-height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

   -webkit-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
  box-shadow: 10px 10px 63px 0px rgba(0,0,0,0.27);
}

.formcheckout {
  width: 85%;
  margin: 2% 4%;
}

.titulofield {
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 900;
}

.fieldpadrao {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: linear-gradient(180deg, #fafafa, #fafafa);
  font-family: Lato, sans-serif;
  color: #000;
  font-weight: 300;
  text-transform: none;
}

.fieldpadrao:focus {
  border-color: #2dc2d6;
}

.fieldpadrao._2col {
  width: 100%;
  text-transform: none;
}

.fieldpadrao._2col.cvv {
  width: 100%;
}

.fieldpadrao._50 {
  width: 48%;
  text-transform: capitalize;
}

.fieldpadrao.fieldcupom {
  width: 70%;
  margin-bottom: 0px;
}

.fieldpadrao.selectparcelas {
  text-transform: none;
}

.fieldpadrao.selectparcelas:focus {
  border-color: #2dc2d6;
}

.fieldpadrao.nome {
  text-transform: none;
}

.fieldpadrao.cep {
  width: 100%;
}

.fieldpadrao.bandeirascard {
  /* background-image: url('../images/visa.svg'), -webkit-linear-gradient(270deg, #fafafa, #fafafa);
  background-image: url('../images/visa.svg'), linear-gradient(180deg, #fafafa, #fafafa); */
  background-position: 99% 50%, 0px 0px;
  background-size: 50px, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: scroll, scroll;
}

/* .fieldpadrao.bandeirascard._0 {
  background-image: url('../images/master.svg'), -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: url('../images/master.svg'), linear-gradient(180deg, transparent, transparent);
  background-size: 45px, auto;
} */

.form {
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
}

.btnpadrao {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0% 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  /* background-color: #3058be;
  background-image: -webkit-linear-gradient(270deg, #56da2d, #56da2d);
    background-image: linear-gradient(180deg, #56da2d, #56da2d); */
  font-size: 12px;
  font-weight: 700;
}

.btnpadrao.btnboleto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: #3f995c; */
  text-align: center;
}

.btnpadrao.btncupom {
  width: 100px;
  height: 50px;
}



.btnpadrao.btnconfirmacao {
  margin-top: 10px;
  /* background-image: -webkit-linear-gradient(270deg, #2dc2d6, #2dc2d6);
  background-image: linear-gradient(180deg, #2dc2d6, #2dc2d6); */
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}



.btnpadrao.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  margin-top: 0%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div50p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.duascolunas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.duascolunas._2colcartao {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dadosentrega {
  margin-bottom: 3%;
}

.trescolunas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div30p {
  width: 30%;
  min-height: 80px;
}

.div40p {
  width: 40%;
  min-height: 80px;
}

.tituloform {
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.formulario {
  width: 55%;
  min-height: 100px;
  margin-right: 0%;
  margin-bottom: 2%;
  margin-left: 2%;
}

.infopedido {
  position: static;
  bottom: -42px;
  display: block;
  overflow: visible;
  width: 48%;
  height: auto;
  min-height: auto;
  margin-right: 0%;
  padding-right: 4%;
  padding-bottom: 2%;
  padding-left: 4%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-right-radius: 6px;
  background-color: #f4f4ff;
}

.titulocarrinho {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0%;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.div-block-5 {
  display: block;
  width: 100%;
  min-height: 40px;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #000;
}

.produtocarrinho {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.imgcarrinho {
  width: 80px;
  height: 80px;
  min-height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: none;
}

.imgcarrinho.confirmacao {
  width: 40px;
  height: 40px;
  min-height: 40px;
}

.imgcarrinho.p01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
}

.imgcarrinho.p02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: none;
}

.imgcarrinho.p03 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: none;
}

.imgcarrinho.confirmacao {
  width: 40px;
  height: 40px;
  min-height: 40px;
}

.descricaocarrinho {
  width: 60%;
}

.preco-produto {
  margin-top: 10px;
  font-family: Lato, sans-serif;
  font-weight: 900;
}

.preco-produto.confirmacao {
  margin-top: 0px;
  font-size: 14px;
}

.tit-nomeproduto {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.tit-nomeproduto.confirmacao {
  font-size: 14px;
}

.image {
  display: block;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
}

.infocarrinho {
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0%;
  margin-bottom: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tit-totla {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.valortotal {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.p-padrao {
  font-weight: 300;
}

.valor {
  font-weight: 300;
}

.valor.valor-entrega {
  font-weight: 300;
}

.sub-entrega {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.quantidadeprodutos {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 18px;
}

.topo-infocarrinho {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.badge {
  width: 45px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 30px;
  background-color: #2dc2d6;
  background-image: -webkit-linear-gradient(12deg, #2b58e7, #2dc2d6);
  background-image: linear-gradient(78deg, #2b58e7, #2dc2d6);
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.badge.numitens {
  background-image: none;
}

.badge.numitens.roxo {
  background-color: #502294;
}

.hr {
  margin-top: 0%;
  opacity: 0.15;
  color: transparent;
}

.hr.hrform {
  margin-top: 0%;
  margin-bottom: 2%;
}

.hr.hrfooter {
  margin-top: 5%;
}

.valoresfinais {
  margin-top: 5%;
  font-family: Lato, sans-serif;
}

.pagcartao {
  display: block;
  margin-bottom: 2%;
}

.selecionarpag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-span {
  font-family: 'Font awesome 5 free solid 900', sans-serif;
}

.selcredito {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #2b58e7;
  border-radius: 3px;
}

.selboleto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #2b58e7;
  border-radius: 3px;
}

.tipopag {
  font-size: 12px;
  font-weight: 700;
}

.tipopag.boleto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.text-span-2 {
  margin-right: 3px;
  font-family: 'Font awesome 5 free solid 900', sans-serif;
}

.radio-button-label {
  display: none;
}

.radio-button {
  display: none;
  margin-top: 5px;
  margin-left: 0px;
}

.radio-button-label-2 {
  display: none;
}

.radio-button-2 {
  margin-top: 5px;
  margin-left: 0px;
}

.selectvalidade {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagboleto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.radio-button-field {
  display: none;
}

.text-block-8 {
  width: auto;
  padding: 2% 3%;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
}

.trazside {
  display: none;
  height: 2px;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  height: 60px;
  margin-right: auto;
  margin-bottom: 2%;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  margin-top: 2%;
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.image-3 {
  display: block;
  margin-top: 4%;
}

.image-4 {
  display: block;
  margin: 8% auto;
}

.section-3 {
  width: 100%;
  min-height: 90px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.div-block-8 {
  display: block;
  width: 1000px;
  height: 20px;
  margin-right: auto;
  margin-left: auto;
}

.image-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3%;
  padding-bottom: 0%;
  opacity: 1;
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.topo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  display: block;
}

.text-block-9 {
  margin-left: 30px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.link {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
}


.awesomespan {
  margin-right: 3px;
  font-family: 'Font awesome 5 free solid 900', sans-serif;
}

.awesomespan.cinza {
  font-size: 10px;
}

.formfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #dbdbdb;
}

.link-2 {
  color: #bbb;
  text-decoration: none;
}

.btnsfinal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.divcupom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.formcupom {
  margin-top: 4%;
}

.bandeiras {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-10 {
  display: inline-block;
  float: right;
  clear: left;
  text-align: right;
}

.checkbox-label {
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 12px;
}

.checkbox {
  border: 1px solid #2dc2d6;
}

.checkbox:active {
  border-color: #2dc2d6;
}

.checkbox-field {
  display: none;
  margin-bottom: 10px;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.tab-link-tab-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.tab-link-tab-1.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #2b58e7;
  border-radius: 6px;
  background-color: transparent;
  text-align: center;
}

.tab-link-tab-1.roxo.w--current {
  border-color: #502294;
}

.tab-link-tab-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.tab-link-tab-2.w--current {
  border: 1px solid #2b58e7;
  border-radius: 6px;
  background-color: transparent;
}

.tab-link-tab-2.loterica {
  display: none;
}

.tab-link-tab-2.roxo {
  border-color: #502294;
}

.tabs-content {
  margin-top: 4%;
}

.baseinfoad {
  width: 100%;
  min-height: 80px;
  border: 1px solid #2dc2d6;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5));
}

.baseinfoad.baseinfoadicional {
  margin-top: 2%;
  margin-bottom: 2%;
}

.baseinfoad.borderpad {
  margin-top: 10px;
  margin-bottom: 10px;
}

.baseinfoad.borderpad.roxo {
  border-color: #502294;
}

.baseinfoad.semborda {
  border-style: none;
}

.baseinfoad.semborda.semfundo {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  background-image: none;
}

.baseinfoad.semborda.comfundo {
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: -webkit-linear-gradient(270deg, #2dc2d6, #2dc2d6);
  background-image: linear-gradient(180deg, #2dc2d6, #2dc2d6);
  color: #fff;
}

.baseinfoad.semborda.comfundo.roxo {
  background-image: -webkit-linear-gradient(270deg, #502294, #502294);
  background-image: linear-gradient(180deg, #502294, #502294);
}

.icon-infoadicional {
  font-weight: 700;
  text-align: center;
}

.desc-infoadicional {
  font-size: 10px;
  line-height: 16px;
  text-transform: none;
}

.row-ia {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tit-infoadicional {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footerinstitucional {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-bottom: 4%;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin-bottom: 1px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #363636;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.link-4 {
  color: #3d3d3d;
  font-size: 10px;
  text-decoration: none;
}

.link-5 {
  color: #3d3d3d;
  font-size: 10px;
  text-decoration: none;
}

.link-6 {
  color: #3d3d3d;
  font-size: 10px;
  text-decoration: none;
}

.image-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.19;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.text-block-13 {
  text-align: center;
}

.success-message {
  background-color: #a7ec9d;
}

.text-block-14 {
  color: #00521a;
}

.tab-link-tab-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.tab-link-tab-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.tab-link-tab-4.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #2b58e7;
  border-radius: 6px;
  background-color: transparent;
}

.tab-pane-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-7 {
  margin-top: 0%;
  margin-bottom: 0%;
  color: #2b58e7;
  text-decoration: none;
}

.link-pag2cc {
  display: none;
  margin-right: auto;
  margin-left: auto;
  color: #446f75;
  text-decoration: none;
}

.pag-2cartoes {
  display: none;
}

.link-8 {
  display: block;
  color: #446f75;
  text-decoration: none;
}

.body-2 {
  /* background-color: #2dc2d6; */
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.heading {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #2dd6a7;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1px;
}

.text-block-15 {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.div-block-12 {
  width: 100%;
}

.infotransacao {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 200px;
  margin-top: 30px;
  margin-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.infocompra {
  width: 33%;
  min-height: 60px;
  padding: 20px;
  background-color: #f4f4ff;
}

.infopagamento {
  width: 33%;
  min-height: 60px;
  padding: 20px;
  background-color: transparent;
}

.infoentrega {
  width: 33%;
  min-height: 60px;
  padding: 20px;
}

.titulo {
  border-bottom: 1px none #000;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.titulo.confirmacao {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
}

.text-block-16 {
  margin-top: 10px;
  font-weight: 300;
}

.bandeiraparcela {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-17 {
  font-weight: 700;
}

.text-block-18 {
  margin-top: 10px;
}

.text-block-19 {
  margin-top: 10px;
}

.confirmacaocartao {
  display: block;
}

.instrucaoloterica {
  width: 350px;
  min-height: 400px;
  margin-top: 30px;
  padding: 20px;
  border-style: solid none;
  border-width: 4px;
  border-color: #2dc2d6 #000;
  border-radius: 4px;
  background-color: #f4f4ff;
}

.heading-2 {
  font-weight: 300;
  text-align: center;
}

.text-block-20 {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.text-block-20.alert {
  color: red;
  font-size: 12px;
  font-weight: 700;
}

.bold-text {
  text-align: center;
}

.text-block-21 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}

.tab-link-tab-1-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  min-height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-color: transparent;
  border-bottom-width: 1px;
  background-color: transparent;
}

.tab-link-tab-1-2.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.4%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #1f8896;
  background-color: #1f8896;
  color: #fff;
  font-weight: 900;
}

.tab-link-tab-2-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.tab-link-tab-2-2.w--current {
  background-color: transparent;
}

.tab-link-tab-3-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.tab-link-tab-3-2.w--current {
  background-color: transparent;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #d3d3d3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.text-block-22 {
  font-size: 10px;
}

.text-block-23 {
  font-size: 10px;
}

.text-block-24 {
  font-size: 10px;
}

.div-block-13 {
  display: block;
  width: 1000px;
  min-height: 200px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100px;
  padding: 4%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1f8896;
}

.text-block-25 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.tab-pane-tab-1 {
  min-height: 500px;
}

.div-block-15 {
  width: 100%;
  min-height: 200px;
  padding: 2%;
}

.clearfix {
  width: 10px;
  height: 5px;
}

.telamodal {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: -20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(29, 29, 29, .59), rgba(29, 29, 29, .59));
  background-image: linear-gradient(180deg, rgba(29, 29, 29, .59), rgba(29, 29, 29, .59));
}

.corpomodal {
  width: 500px;
  min-height: 250px;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-image: -webkit-linear-gradient(270deg, #da4453, #da4453);
  background-image: linear-gradient(180deg, #da4453, #da4453);
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-span-3 {
  font-family: 'Font awesome 5 free solid 900', sans-serif;
}

.text-block-26 {
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
}

.text-block-27 {
  position: static;
  left: 42px;
  top: -15px;
  right: -1px;
  overflow: visible;
  margin-top: 22%;
  margin-left: -20px;
  padding-left: 0px;
  clear: none;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-family: 'Font awesome 5 free solid 900', sans-serif;
  color: #fff;
}

.button {
  margin-top: 10px;
}

.conteudomodal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 45px;
  text-align: center;
}

.section-4 {
  display: none;
}

.checkbox-label-2 {
  color: #2c2c2c;
}

@media (max-width: 991px) {
  .corpo {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 6px;
  }
  .formulario {
    width: 80%;
  }
  .infopedido {
    display: none;
    width: 100%;
  }
  .infocarrinho {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  .topo {
    width: 80%;
  }
  .link.roxo {
    margin-right: 5px;
    margin-left: 5px;
  }
  .awesomespan.aria {
    margin-left: 3px;
  }
  .formfooter {
    width: 100%;
  }
  .mostraeesconde {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    padding: 3%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #f4f4ff;
    color: #2dc2d6;
    text-decoration: none;
  }
  .link-3 {
    display: block;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #1cb4c9;
    text-decoration: none;
  }
  .text-block-11 {
    margin-right: 0%;
    color: #0090a3;
    font-size: 16px;
    font-weight: 800;
  }
  .text-block-12 {
    color: #0090a3;
  }
  .mobilepad {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .corpo {
    border-top-left-radius: 6px;
  }
  .corpo.confirmacao {
    padding-right: 3%;
  }
  .formulario {
    width: 95%;
  }
  .infopedido {
    display: none;
  }
  .topo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .text-block-9 {
    font-size: 10px;
  }
  .link.roxo {
    margin-right: 5px;
    margin-left: 5px;
  }
  .awesomespan.margin {
    margin-left: 5px;
  }
  .formfooter {
    width: 100%;
  }
  .mostraeesconde {
    padding: 4%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #2dc2d6;
    text-decoration: none;
  }
  .text-block-11 {
    color: #0090a3;
  }
  .text-block-12 {
    color: #0090a3;
  }
  .tabs-content {
    margin-top: 4%;
  }
  .heading {
    text-align: center;
  }
  .infotransacao {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .infocompra {
    width: 80%;
  }
  .infopagamento {
    width: 80%;
  }
  .infoentrega {
    width: 80%;
  }
  .mobilepad {
    padding: 20px;
  }
}

@media (max-width: 479px) {
  .corpo {
    width: 100%;
    margin-bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 6px;
  }
  .corpo.confirmacao {
    padding-right: 30px;
  }
  .formcheckout {
    margin-top: 0%;
  }
  .fieldpadrao._2col {
    width: 100%;
  }
  .fieldpadrao.cep {
    width: 100%;
  }
  .btnpadrao {
    margin-top: 2%;
    /* background-image: -webkit-linear-gradient(270deg, #56da2d, #56da2d);
    background-image: linear-gradient(180deg, #56da2d, #56da2d); */
  }
  .btnpadrao.btncupom {
    margin-top: 0%;
  }
  .btnpadrao.btnconfirmacao {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  .div50p {
    width: 50%;
  }
  .duascolunas {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .duascolunas._2colcartao {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .duascolunas.mob-h {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .trescolunas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div30p {
    width: 100%;
  }
  .div40p {
    width: 100%;
  }
  .tituloform {
    margin-top: 10px;
  }
  .formulario {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .infopedido {
    display: none;
    width: 100%;
    height: auto;
    min-height: auto;
  }
  .infocarrinho {
    margin-top: 0%;
    margin-bottom: 8%;
  }
  .total {
    margin-bottom: 40px;
  }
  .p-padrao {
    font-size: 10px;
  }
  .p-padrao.infos {
    font-size: 14px;
  }
  .topo-infocarrinho {
    margin-top: 0px;
  }
  .tipopag {
    line-height: 15px;
    text-align: center;
  }
  .topo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-block-9 {
    display: block;
    margin-right: auto;
    margin-bottom: 2%;
    margin-left: auto;
  }
  .link.roxo {
    margin-right: 5px;
    margin-left: 5px;
  }
  .formfooter {
    width: 100%;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .link-2 {
    line-height: 15px;
  }
  .btnsfinal {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bandeiras {
    margin-bottom: 4%;
  }
  .checkbox-label {
    font-size: 10px;
    line-height: 15px;
  }
  .mostraeesconde {
    padding-top: 5%;
    padding-bottom: 5%;
    border-style: none none solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-decoration: none;
  }
  .text-block-11 {
    color: #0090a3;
  }
  .text-block-12 {
    color: #0090a3;
    text-decoration: none;
  }
  .tab-link-tab-1 {
    width: 33%;
  }
  .tab-link-tab-1.w--current {
    width: 33%;
  }
  .tab-link-tab-2 {
    width: 33%;
  }
  .heading {
    font-size: 1.4em;
    line-height: 25px;
    text-align: center;
  }
  .text-block-15 {
    margin-top: 10px;
  }
  .infotransacao {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .infocompra {
    width: 100%;
  }
  .infopagamento {
    width: 100%;
  }
  .infoentrega {
    width: 100%;
  }
  .instrucaoloterica {
    width: 100%;
  }
  .bold-text.codigoloterica {
    font-size: 2.5em;
  }
  .bold-text.cpf {
    font-size: 2em;
  }
  .corpomodal {
    width: 90%;
    min-height: 300px;
  }
  .div-block-16 {
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .heading-3 {
    font-size: 12px;
    line-height: 24px;
  }
  .text-block-26 {
    margin-top: 10px;
  }
  .text-block-27 {
    position: static;
    left: -7px;
    top: -17px;
    right: 15px;
    display: block;
    margin-top: 105%;
    clear: left;
  }
  .div-block-18 {
    min-height: 150px;
    padding: 20px;
  }
  .mobilepad {
    width: 100%;
    padding: 13px;
  }
  .checkbox-2 {
    border-radius: 0%;
  }
}

@font-face {
  font-family: 'Font awesome 5 free solid 900';
  src: url('../fonts/Font-Awesome-5-Free-Solid-900.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


.loadingdiv {

  position: fixed;
  left: 0px;
  top: -231px;
  right: 0px;
  bottom: -231px;
  z-index: 9999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  overflow: visible;
  width: 100%;
  height: 100vh;
  margin-top: 230px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 96%, .92), hsla(0, 0%, 96%, .92));
  background-image: linear-gradient(180deg, hsla(0, 0%, 96%, .92), hsla(0, 0%, 96%, .92));

}


.definebg {

  width: 100%;
  height: 110vh;
  position: relative;
  overflow: hidden;

}

.definebg:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 110%;
  left: -25%;
  top: -25%;
  z-index: -2;
  opacity: 0.7;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);

}

.definebg:after {

  content: "";
  position: absolute;
  width: 150%;
  height: 110%;
  left: -25%;
  top: -25%;
  z-index: -1;
  opacity: 0.3;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
