.imgcarrinho img  {
height: 80px;
}

.body {

     background-color: none;
  }

  .conteudoCheckout {

    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .imgcarrinho img  {
  height: 80px;
  }

  .btn-padrao {

    border-radius: 2.5px;
    opacity: 0.9;
    background-color: #58c629;
    font-size: 14px;
    font-weight: 700;
    color: white;

    transition: opacity 0.2s ease;
  }

  .btn-padrao:hover {
      opacity: 1;
  }

  /*PERSONALIZAÇÕES DO BOTÃO */

  .btn-roxo {
         background-color: purple;
      color: white;
  }

  .btn-laranja {
        background-color: orange;
      color: white;
  }

  .btn-vermelho {
       background-color: orangered;
         color: white;
  }

  .btn-azul {
       background-color: royalblue;
         color: white;
  }

  /* FIM PERSONALIZAÇÕES BOTÃO */

  /*PERSONALIZAÇÃO DE FUNDOS */

     .bg-azul {
      background-color: royalblue;
     }
     .bg-azul2 {
          background-color: #2ec2e8;
     }
     .bg-vermelho {
          background-color: red;
     }
     .bg-vermelho2 {
          background-color: #d61b1b;
     }
     .bg-roxo {
          background-color: purple;
     }
     .bg-roxo1 {
        background-color: #691b99;
     }
     .bg-verde {
          background-color: seagreen;
     }
     .bg-laranja {
          background-color: orange;
     }
     .bg-pink {
          background-color: mediumvioletred;
     }
     .bg-cinzaescuro {
          background-color: #1a1a1a;
     }
     .bg-cinza {
      background-color: lightgrey;
     }

     .bg-preto {
      background-color: black;
     }

   /* FIM PERSONALIZAÇÃO DE FUNDOS */
