thead {
    border-bottom: 1px solid #EDEDED;
}

.table thead > tr > td, .table thead > tr > th {
    background-color: #FAFAFA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #15034C;
}

.table thead > tr > td:first-child {
    padding: 22px 18px 22px 32px;
}

.table tbody > tr > td:first-child{
    padding-left: 32px;
}

.table tbody > tr > td {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
    background-color: #FBFBFB;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table tbody tr:last-child td:first-child {
   border-radius: 0 0 0 16px !important
}

.table tbody tr:last-child td:last-child {
   border-radius: 0 0 16px 0 !important
}

@media (max-width: 767px) {
    table.unify tr {
        padding: 0;
        background-color: #FBFBFB;
    }
}
