.loading {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.loading2 {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.loading2 .loader {
    position: fixed;
    top: 38%;
    left: 50%;
    border: 16px solid #F3F3F3; /* Light grey */
    border-top: 16px solid #3498DB; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.8s linear infinite;
    z-index: 10001;
}

.loading .loaderTable {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 10px solid #F3F3F3; /* Light grey */
    border-top: 10px solid #3498DB; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s linear infinite;
    z-index: 3;
}

.loaderModal {
    border: 16px solid #F3F3F3;
    border-radius: 50%;
    border-top: 16px solid #3498DB;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.8s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

.loaderSpan {
    border: 4px solid #F3F3F3;
    border-top: 4px solid #3498DB;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.8s linear infinite;
}

.loaderNotification {
    border: 8px solid #F3F3F3;
    border-top: 8px solid #3498DB;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.8s linear infinite;
}

.loaderCard {
    position: absolute;
    top: 38%;
    left: 38%;
    border: 12px solid #F3F3F3; /* Light grey */
    border-top: 12px solid #3498DB; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
    z-index: 3;
}


/*----------------------- FOX GIF LOADER ---------------------*/
.foxLoading {
    position: relative;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

.foxLoader {
    width: 100%;
    max-height: 100%;
    position: absolute;
    margin: 0 auto;
    background: white;
    border-right: 0px;
}

.foxLoadingTable {
    position: relative;
    width: 160px;
    height: 160px;
    min-height: 110px;
    top: 0px;
    left: 0px;
    background-colour: #FFFFFF08;
}
.foxLoaderTable {
    width: auto;
    height: 100px;
    left: 40%;
    top: 0%;
    position: absolute;
    margin: 0 auto;
    border-right: 0px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
