.cloud-error {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/domain-error.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;

}
.cloud-success {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/domain-success.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}
.cloud-default {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/domain-default.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}

.money-error {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/money-error.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}
.money-success {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/money-success.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}
.money-default {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/money-default.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}

.shopify-default {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/shopify-default.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}
.shopify-error {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/shopify-error.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}
.shopify-success {
    content: url("https://cloudfox.nyc3.cdn.digitaloceanspaces.com/cloudfox/defaults/shopify-success.svg");
    z-index: 10;
    max-width: 30px;
    max-height: 30px;
}
