:root {
    --color-red: #ff3006;
    --color-ripple-red-0: rgba(255, 48, 6, 0);
    --color-ripple-red-3: rgba(255, 48, 6, 0.3);
    --color-orange: #ffaf00;
    --color-ripple-orange-0: rgba(255, 175, 0, 0);
    --color-ripple-orange-3: rgba(255, 175, 0, 0.3);
    --color-yellow: #f2cc11;
    --color-ripple-yellow-0: rgba(242, 204, 17, 0);
    --color-ripple-yellow-3: rgba(242, 204, 17, 0.3);
    --color-green: #1bce68;
    --color-ripple-green-0: rgba(27, 206, 104, 0);
    --color-ripple-green-3: rgba(27, 206, 104, 0.3);
    --color-dark-green: #04a74a;
    --color-ripple-dark-green-0: rgba(4, 167, 74, 0);
    --color-ripple-dark-green-3: rgba(4, 167, 74, 0.3);
    --color-blue: #108dec;
    --color-ripple-blue-0: rgba(16, 141, 236, 0);
    --color-ripple-blue-3: rgba(16, 141, 236, 0.3);
    --color-gray: #b8b8b8;
    --color-ripple-gray-0: rgba(184, 184, 184, 0);
    --color-ripple-gray-3: rgba(184, 184, 184, 0.3);
}

.page.dashboard .sirius-account {
}

.page.dashboard .sirius-account-health {
    min-height: 225px;
    height: 225px;
}

.text-color-red {
    color: var(--color-red);
}

.bg-color-red {
    background: var(--color-red);
    -webkit-animation: ripple-red 0.7s linear infinite;
    animation: ripple-red 0.7s linear infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes ripple-red {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-red-3), 0 0 0 5px var(--color-ripple-red-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-red-3), 0 0 0 15px var(--color-ripple-red-0);
    }
}

@keyframes ripple-red {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-red-3), 0 0 0 5px var(--color-ripple-red-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-red-3), 0 0 0 15px var(--color-ripple-red-0);
    }
}

.text-color-orange {
    color: var(--color-orange) !important;
}

.bg-color-orange {
    background: var(--color-orange);
    -webkit-animation: ripple-orange 0.7s linear infinite;
    animation: ripple-orange 0.7s linear infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes ripple-orange {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-orange-3), 0 0 0 5px var(--color-ripple-orange-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-orange-3), 0 0 0 15px var(--color-ripple-orange-0);
    }
}

@keyframes ripple-orange {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-orange-3), 0 0 0 5px var(--color-ripple-orange-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-orange-3), 0 0 0 15px var(--color-ripple-orange-0);
    }
}

.text-color-yellow {
    color: var(--color-yellow);
}

.bg-color-yellow {
    background: var(--color-yellow);
    -webkit-animation: ripple-yellow 0.7s linear infinite;
    animation: ripple-yellow 0.7s linear infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes ripple-yellow {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-yellow-3), 0 0 0 5px var(--color-ripple-yellow-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-yellow-3), 0 0 0 15px var(--color-ripple-yellow-0);
    }
}

@keyframes ripple-yellow {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-yellow-3), 0 0 0 5px var(--color-ripple-yellow-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-yellow-3), 0 0 0 15px var(--color-ripple-yellow-0);
    }
}

.text-color-green {
    color: var(--color-green);
}

.bg-color-green {
    background: var(--color-green);
    -webkit-animation: ripple-green 0.7s linear infinite;
    animation: ripple-green 0.7s linear infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes ripple-green {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-green-3), 0 0 0 5px var(--color-ripple-green-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-green-3), 0 0 0 15px var(--color-ripple-green-0);
    }
}

@keyframes ripple-green {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-green-3), 0 0 0 5px var(--color-ripple-green-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-green-3), 0 0 0 15px var(--color-ripple-green-0);
    }
}

.text-color-dark-green {
    color: var(--color-dark-green);
}

.bg-color-dark-green {
    background: var(--color-dark-green);
    -webkit-animation: ripple-dark-green 0.7s linear infinite;
    animation: ripple-dark-green 0.7s linear infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes ripple-dark-green {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-dark-green-3), 0 0 0 5px var(--color-ripple-dark-green-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-dark-green-3), 0 0 0 15px var(--color-ripple-dark-green-0);
    }
}

@keyframes ripple-dark-green {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-dark-green-3), 0 0 0 5px var(--color-ripple-dark-green-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-dark-green-3), 0 0 0 15px var(--color-ripple-dark-green-0);
    }
}

.text-color-blue {
    color: var(--color-blue);
}

.bg-color-blue {
    background: var(--color-blue);
    -webkit-animation: ripple-blue 0.7s linear infinite;
    animation: ripple-blue 0.7s linear infinite;
    /*-webkit-animation-delay: 3s;
    animation-delay: 3s;*/
}

@-webkit-keyframes ripple-blue {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-blue-3), 0 0 0 5px var(--color-ripple-blue-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-blue-3), 0 0 0 15px var(--color-ripple-blue-0);
    }
}

@keyframes ripple-blue {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-blue-3), 0 0 0 5px var(--color-ripple-blue-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-blue-3), 0 0 0 15px var(--color-ripple-blue-0);
    }
}

.text-color-gray {
    color: var(--color-gray);
}

.bg-color-gray {
    background: var(--color-gray);
    -webkit-animation: ripple-gray 0.7s linear infinite;
    animation: ripple-gray 0.7s linear infinite;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@-webkit-keyframes ripple-gray {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-gray-3), 0 0 0 5px var(--color-ripple-gray-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-gray-3), 0 0 0 15px var(--color-ripple-gray-0);
    }
}

@keyframes ripple-gray {
    0% {
        box-shadow: 0 0 0 0 var(--color-ripple-gray-3), 0 0 0 5px var(--color-ripple-gray-3);
    }
    to {
        box-shadow: 0 0 0 5px var(--color-ripple-gray-3), 0 0 0 15px var(--color-ripple-gray-0);
    }
}

#account-health-chart-gauge {
    min-width: 125px;
    min-height: 88px;
    max-width: 125px;
    max-height: 88px;
}

#account-health-note {
    font-size: 14.5px;
    text-align: left;
    letter-spacing: 0.18px;
    color: #bfbfbf;
}

#account-health-note > span {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.25px;
}

#account-health-description {
    font-size: 12px;
    text-align: left;
    letter-spacing: 0px;
    color: #a5a5a5;
}

#card-notes {
    height: 48px;
}

.account-health-note-circle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    content: "";
}

.account-health-note {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.account-health-note-description {
    font-size: 13px;
    color: #a5a5a5;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    white-space: nowrap;
}

.account-health-note-description-tracking {
    font-size: 11px;
    color: #a5a5a5;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    white-space: nowrap;
}

.account-tax {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.tips-chargeback,
.tips-chargeback > i {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    color: var(--color-blue);
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    -webkit-text-stroke: 0.3px var(--color-blue);
}

.tips-chargeback > i {
    font-size: 18px;
    -webkit-text-stroke: 1.5px var(--color-blue);
}

.tips-chargeback:hover,
.tips-chargeback > i:hover {
    color: var(--color-blue);
}

.empty-score > div:first-child {
    height: 100%;
    width: 100%;
    background: #ebebeb;
    border-radius: 8px;
}

.empty-score > div:first-child span {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    content: "";
}

.empty-score > div:first-child h4 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #9c9c9c;
    line-height: 0px;
}

.empty-score > div:first-child p {
    width: 95%;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    color: #9c9c9c;
    line-height: 12px;
}

.empty-score > div:nth-of-type(2) {
    /*height: 45px;*/
    margin-top: 20px;
}

.empty-score > div:nth-of-type(2) > div {
    height: 45px;
}

.empty-score > div:nth-of-type(2) > div > span {
    font-size: 13px;
    color: #a5a5a5;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;

    /* não quebra a linha de texto */
    white-space: nowrap;
}

.empty-score > div:nth-of-type(2) > div > div > span:first-child {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    content: "";
}

.empty-score > div:nth-of-type(2) > div > div > span:last-child {
    /*margin-right: 15px;*/
    width: 40px;
    height: 12px;
    background: #d8d8d8;
    border-radius: 8px;
}

.font-size-11 {
    font-size: 11px !important;
}

@media (max-width: 1200px) {
    .account-health-note-description-tracking {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .empty-score > div:nth-of-type(2) > div > span {
        font-size: 12px;
    }

    .account-health-description {
        font-size: 12px;
    }

    .account-health-note-description {
        font-size: 12px;
    }

    .account-health-note-description-tracking {
        width: calc(100% - 10px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 300px) {
    .empty-score > div:nth-of-type(2) > div > span {
        font-size: 11px;
    }

    #account-health-chart-gauge {
        min-width: 100px;
        min-height: 66px;
        max-width: 100px;
        max-height: 66px;
    }

    .account-health-description {
        font-size: 11px;
    }

    .account-health-note-description {
        font-size: 11px;
    }

    .tips-chargeback,
    .tips-chargeback > i {
        font-size: 12px;
    }

    .tips-chargeback > i {
        font-size: 12px;
    }
}
