{
  "openapi": "3.0.3",
  "info": {
    "title": "Azcend Tracking API",
    "version": "1.0.0",
    "description": "API Documentation for Tracking Management"
  },
  "servers": [
    {
      "url": "https://admin.azcend.com.br/api"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Tracking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/trackings": {
      "get": {
        "tags": ["Tracking"],
        "summary": "Get All Trackings",
        "description": "Retrieves a list of all trackings",
        "responses": {
          "200": {
            "description": "List of trackings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tracking"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Tracking"],
        "summary": "Create Tracking",
        "description": "Creates a new tracking entry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["status", "location"],
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tracking created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracking"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/trackings/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "tags": ["Tracking"],
        "summary": "Get Tracking by ID",
        "description": "Retrieves a specific tracking by its ID",
        "responses": {
          "200": {
            "description": "Tracking details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracking"
                }
              }
            }
          },
          "404": {
            "description": "Tracking not found"
          }
        }
      },
      "put": {
        "tags": ["Tracking"],
        "summary": "Update Tracking",
        "description": "Updates an existing tracking entry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  },
                  "location": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tracking updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracking"
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Tracking not found"
          }
        }
      },
      "delete": {
        "tags": ["Tracking"],
        "summary": "Delete Tracking",
        "description": "Deletes a specific tracking entry",
        "responses": {
          "204": {
            "description": "Tracking deleted successfully"
          },
          "404": {
            "description": "Tracking not found"
          }
        }
      }
    }
  }
}