<!-- start cloudfox skip to cart script -->

<script>
    if(document.querySelector('button[name="add"]')) {
        let buyNowButton = document.querySelector('button[name="add"]');
        buyNowButton.querySelector("span").innerText = 'Comprar Agora'
    }

    if(document.cookie.match(new RegExp('cart=([^;]+)')) && form !== null) {
        document.getElementsByTagName('body').item(0).style.display = 'none';
        var htmlData = "<div><style>@keyframes loader-circle{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}.loader-container{height:100vh;text-align:center;padding-top:40vh}.loader{width:75px;height:75px;display:inline-block;border-top:solid #d3d3d3;border-right:solid #d3d3d3;border-bottom:solid #d3d3d3;border-left:solid #557b96;border-width:5px;border-radius:50%;animation:loader-circle 1.1s infinite linear}</style><div class='loader-container'><div class='loader'></div></div></div>";
        document.getElementsByTagName('html').item(0).insertAdjacentHTML( 'beforeend', htmlData);
        // document.querySelector('#cart_form').submit();
        submitCheckout(form);
        document.cookie = 'cart=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
    }
</script>

<!-- end cloudfox skip to cart script -->
