#show-photo {
    border-radius: 16px 0 0 16px;
}

#input_group_contact{
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}

#input_group_support_phone{
    padding-top: 21px !important;
    padding-bottom: 21px !important;
}
