.card{
    border-radius: 8px;
    min-height:403px;

}
.card-img-top {
    border-radius: 8px 8px 0 0;
    height: 300px;
    object-fit: cover;
}


.name_project:hover{
    transition: transform 1s;
}
.name_project:hover {
    transform: scale(1.04);
}


.drag-drop-icon{
    border-radius: 4px;
    opacity: 0;
    transition: opacity 1s, background .5s;
}
.name_project:hover .drag-drop-icon{
    opacity: 1;
}

.ui-sortable-helper .drag-drop-icon{
    background: #F1F1F1;
}


.select2-dropdown.select2-dropdown--above{
    border-color: #88BFFF;
}

.ui-tooltip, .arrow:after {
    background: black;
    border-style: none !important;
    color: #FFFFFF;
    opacity: 0.9;
  }

#data-table-projects::-webkit-scrollbar{
    width: 10px;
}
#data-table-projects{
    scrollbar-width: none;
}

.new-store-modal-option a {
    width: 115px;
    height: 115px;
    border: 1px solid #2E85EC;
    border-radius: 8px;
    background: #F4F6FB;
}
.new-store-modal-option a:hover {
    border: 2px solid #2E85EC;
    background: #CBE0FA;;
}
.new-store-modal-option span {
    font-weight: 400;
    color: #5B5B5B;
    margin-top: 12px;
    font-size: 16px;
}
@media screen and (max-width: 430px) {
    .new-store-modal-option a {
        width: 90px;
    }

    .new-store-modal-option span {
        font-size: 12px;
    }
}

.new-store-modal-option-title {
    position: fixed;
    left: 0;
    right: 0;
    align-self: center;
    margin: 0;
    color: #464646;
    font: normal normal 600 22px Muli;
}

.new-store-modal-option-close-btn {
    order: 2;
    z-index: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 26px;
    color: #636363;
}
.new-store-modal-option-close-btn:focus {
    border: none;
    outline: none;
}
