.btn-light-1, .btn-primary-1, .btn-success-1 {
    box-shadow: 0 1px 15px #00000017;
    border-radius: 12px;
    padding: 15px;
    font-size: 14px;
}

.btn-light-1 {
    background-color: #FFF;
    color: #707070
}

.btn-light-1:hover {
    background-color: #F3F3F3;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary-1 {
    background-color: #2E85EC;
    color: #FFF;
}

.btn-primary-1:hover {
    background-color: #0D2C54;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}