#description:focus {
    border-color: #88bfff;
}

/* #enum-list:focus-within{
    border-color: #88BFFF !important;
} */

.border-default:focus {
    border-color: #88bfff !important;
}

#postback:focus {
    border-color: #88bfff;
}
