.table-warning-roll {
    color: #EB6707 !important;
    background-color: #FDE2C2 !important;
}
.table-responsive {
    overflow-x: hidden;
    overflow-y: hidden;
}
.detail-input {
    padding: 3px 6px;
    flex: 1;
    margin: 2px 0;
}
.fake-label {
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
}
