.ct-legend {
    position: relative;
    width: 100%;
    z-index: 10;
    margin: 0 0 20px 0;
    list-style: none;
    text-align: center;
}
.ct-legend li {
    display: inline;
    margin: 40px;
}
.ct-legend .ct-series-0, .ct-series-a .ct-line {
    color: #ff700a;
    stroke: #ff700a;
}
.ct-legend .ct-series-1, .ct-series-b .ct-line {
    color: #2f2d2c;
    stroke: #2f2d2c;
}

.ct-legend .ct-series-2, .ct-series-c .ct-line {
    color: #37b4aa;
    stroke: #37b4aa
}

.ct-point {
    display: none;
}

.scrollbar {
    height:195px;
    overflow: hidden;
    padding: 0;
}

.list-linear-gradient-top {
    background: linear-gradient(to bottom, white, transparent);
    background: -webkit-linear-gradient(to bottom, white, transparent);
    height: 15px;
    margin-bottom: -15px;
    z-index: 1;
}

.list-linear-gradient-bottom {
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0.8), transparent);
    background: -webkit-linear-gradient(to top, white, rgba(255, 255, 255, 0.8), transparent);
    height: 30px;
    margin-top: -30px;
    z-index: 1;

    border-radius: 0 0 16px 16px
}

/*.ct-chart {
    margin: auto;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}*/
@media only screen and (min-width: 768px){
    .col-md-3.card {
        margin-right: 10px;
        max-width: calc(25% - 10px);
    }
}
@media only screen and (min-width: 576px) and (max-width : 767px){
    .col-sm-6.card {
        margin-right: 10px;
        max-width: calc(50% - 10px);
    }
}
h4.number{
    color:#57617c;
}


/* new reports */
.grey { color: #636363; }
.gray-1 { color: #9E9E9E; }
.pad-0 { padding: 0; }

.new-title {
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 30px;
}

.box-select {
    margin: 10px 0;
}

.box-select input {
    margin-left: 0! important;
    width: 100% !important;
}

@media only screen and (min-width: 480px) {
    .box-select {
        margin: 0 -1.0715rem;
    }
    
    .box-select input {
        margin-left: 5px! important;
        width: 92% !important;
    } 
}
@media only screen and (min-width: 1024px) {
    .new-title {
        padding-bottom: 0;
    }
}
.lk-export {
    font-size: 15px;
    line-height: 39px;
    font-weight: bold;
    text-align: left;
    display: block;
}
.lk-export i {
    float: left; 
}
@media only screen and (min-width: 1225px) {
    .box-export { 
        padding: 0;
        display: flex;
    }
    .lk-export { margin-left: auto; font-size: 0.9rem; }
}
@media only screen and (min-width: 1600px) {
    .lk-export { font-size: 15px; }
}

/* box reports */
.box-reports {
    padding: 0 10px;
}

@media only screen and (min-width: 480px) {
    .box-reports { padding: 0 30px; }
}

.container-reports { padding-right: 1.0715rem; }

@media only screen and (min-width: 1223px) {
    .container-reports { padding-right: 0; }
}

.header-reports {
    display: flex;
    width: 100%;
}
@media only screen and (min-width: 1223px) {
    .header-reports { padding-right: 0; }
}

.title-reports {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.lk-reports {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.box-title {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-indent: -9000em;
    overflow: hidden;
}

.ico-finance { background: #fff url('/modules/global/img/reports/cash.png') no-repeat center; }
.ico-sell { background: #fff url('/modules/global/img/reports/ico-sell.png') no-repeat center; }
.ico-mkt { background: #fff url('/modules/global/img/reports/ico-mkt.png') no-repeat center; }

.box-title img {
    width: 23px;
    height: 14px;
}

.box-link {
    border-radius: 100%;
    background: #fff url('/modules/global/img/reports/arrow-right.png') no-repeat center;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    margin-left: auto;
    text-indent: -9000em;
    overflow: hidden;
}

/* cards reports */
.cards-reports { justify-content: space-between; }

.cards-reports .card-body { 
    padding: 0; 
    padding-top: 1.429rem;
}
.cards-reports .card-origin { padding: 1.429rem; }

.cards-reports h6 { margin-top: 0; }

.cards-reports .card { 
    width: 100%; 
    border-radius: 8px; 
}

.cards-reports h6 {font-weight: 700;}

.value-price {
    justify-content: space-between;
    align-items: center;
}
.value-price em {
    font-style: normal;
    font-weight: 700;
    flex: 0.155;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.value-price .green { color:#1BE4A8; }
.value-price .green i { transform: rotate(134deg); }

.value-price .pink { color: #F43F5E; }
.value-price .pink i { transform: rotate(225deg); }

@media only screen and (min-width: 768px) {
    .cards-reports .card { width: calc(1/3*100% - (1 - 1/3)* 30px); }
}

.box-payment-option {
    display: flex;
    flex: 2;
    padding: 0 1rem;
}
.box-payment-option.option { padding: 0; }

@media only screen and (min-width: 768px) and (max-width : 1219px){
    .box-payment-option { flex: 1; }
    .box-payment-option.option {
        flex-direction: column;
    }
}

.container-payment {
    height: 100%;
    align-items: center;
}

.box-ico {
    width: 36px;
    height: 37px;
    background: #F5F5FA;
    border-radius: 8px;
    text-align: center;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-ico i { font-size: 20px; }

.sel-origin {margin-top: 5px;}

/* payment options */
.col-payment {
    display: flex;
    align-items: center;
    font-size: 12px;
    flex: 1;
}

.col-graph { flex: 2; }

@media only screen and (min-width: 1220px) {
    .col-graph { flex: 2; }
}

.bar {
    background: #2E85EC;
    text-indent: -9000em;
    overflow: hidden;
    border-radius: 4px;
}

.bar.pink { background: #F43F5E; }
.bar.purple { background: #665FE8; }


/* graph */
.new-graph .ct-labels, 
.new-graph .ct-grids {
    display: none;
}
.new-graph .ct-series-a .ct-line { stroke: #2e85ec; }

/* new graph pie */
.box-donut { 
    padding-left: 0; 
    padding-bottom: 1.0715rem;
}
@media only screen and (min-width: 768px) and (max-width : 1219px){
    .box-donut {
        flex-direction: column;
    }
}

.new-graph-pie {
    flex: 1;
}
.new-graph-pie  .ct-series-a { fill: #F43F5E; }
.new-graph-pie  .ct-series-b { fill: #2E85EC; }
.new-graph-pie  .ct-series-c { fill: #665FE8; }
.new-graph-pie  .ct-series-d { fill: #FF7900; }


.data-pie { 
    display: flex;
    flex: 1; 
    justify-content: space-around;
    padding-left: 1.0715rem;
}
.data-pie ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
.data-pie ul li { 
    display: flex; 
    justify-content: space-between;
}
.data-pie ul div {
    display: flex;
    align-items: center;
}
.data-pie svg { width: 14px; }

.donut-pie figure { 
    width: 20px; 
    margin: 0;
    display: flex;
}
.donut-pie.blue svg { color: #2E85EC; }
.donut-pie.orange svg { color: #FF7900; }
.donut-pie.purple svg { color: #665FE8; }
.donut-pie.pink svg { color: #F43F5E; }

