.ct-legend {
    position: relative;
    width: 100%;
    z-index: 10;
    margin: 0 0 20px 0;
    list-style: none;
    text-align: center;
}
.ct-legend li {
    display: inline;
    margin: 40px;
}
.ct-legend .ct-series-0, .ct-series-a .ct-line {
    color: #ff700a;
    stroke: #ff700a;
}
.ct-legend .ct-series-1, .ct-series-b .ct-line {
    color: #2f2d2c;
    stroke: #2f2d2c;
}

.ct-legend .ct-series-2, .ct-series-c .ct-line {
    color: #37b4aa;
    stroke: #37b4aa
}

.ct-point {
    display: none;
}

.scrollbar {
    height:195px;
    overflow: hidden;
    padding: 0;
}

.list-linear-gradient-top {
    background: linear-gradient(to bottom, white, transparent);
    background: -webkit-linear-gradient(to bottom, white, transparent);
    height: 15px;
    margin-bottom: -15px;
    z-index: 1;
}

.list-linear-gradient-bottom {
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0.8), transparent);
    background: -webkit-linear-gradient(to top, white, rgba(255, 255, 255, 0.8), transparent);
    height: 30px;
    margin-top: -30px;
    z-index: 1;

    border-radius: 0 0 16px 16px
}

/*.ct-chart {
    margin: auto;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}*/
@media only screen and (min-width: 768px){
    .col-md-3.card {
        margin-right: 10px;
        max-width: calc(25% - 10px);
    }
}
@media only screen and (min-width: 576px) and (max-width : 767px){
    .col-sm-6.card {
        margin-right: 10px;
        max-width: calc(50% - 10px);
    }
}
h4.number{
    color:#57617c;
}


/* new reports */
.grey { color: #636363; }
.gray-1 { color: #9E9E9E; }
.pad-0 { padding: 0 !important; }
.pad-bottom-0 { padding-bottom: 0 !important; }

/* modal relatorios */
.line-reports {
    display: flex;
    justify-content: start;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 13px;
    position: absolute;
    left: 0;
    display: none;
}

@media only screen and (min-width: 768px){
    .line-reports { margin-left: 31px; }
}
@media only screen and (min-width: 1227px){
    .line-reports {
        justify-content: end;
        margin-left: 0;
        right: 0;
        left: auto;
    }
}
.modal-reports {
    background: #FCFCFD;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(46, 133, 236, .17);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
}
@media only screen and (min-width: 768px){
    .modal-reports { width: 544px; }
} 
.head-modal {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}
.head-modal h3 {
    color: #23262F;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}
.head-modal a { color:#87898E; }
.modal-report-content { width: 100%; }

.modal-report-content h6 {
    color: #23262F;
    font-weight: 700;
    font-size: 16px;
}
.modal-report-content .form-icons {position: relative;}
.modal-report-content .form-icons i {
    left: 10px;
    top: 17px;
    width: 20px;
}

.modal-report-content input[type='checkbox'],
.modal-report-content input[type='radio'] {
    width: 20px;
}

.modal-email {
    padding: 8px 35px;
}

.modal-report-content label {
    color: #23262F;
    font-weight: 400;
    font-size: 16px;
    padding: 0 15px 0 5px;
}

.modal-buttons {
    padding: 20px 0 0;
    justify-content: space-between;
    flex-direction: column;
}
@media only screen and (min-width: 768px){
    .modal-buttons { flex-direction: row; }
}

.modal-buttons input {
    padding: 14px 0;
    flex: 0.48;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    margin-bottom: 15px;
    cursor: pointer;
}
@media only screen and (min-width: 768px){
    .modal-buttons input { margin-bottom: 0; }
}

.modal-buttons .reset {
    color: #636363;
    background: #F1F1F1;
}
.modal-buttons .send {
    background: #3772FF;
    color: #fff;
}

.new-title {
    display: flex;
    align-items: baseline;
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 30px;
}
.box-select {
    margin: 10px 0;
}

.box-select input {
    margin-left: 0! important;
    width: 100% !important;
}

@media only screen and (min-width: 480px) {
    .box-select {
        margin: 0 -1.0715rem;
    }
    
    .box-select input {
        margin-left: 5px! important;
        width: 92% !important;
        padding: 9px 8px;
    } 
}
@media only screen and (min-width: 1024px) {
    .new-title {
        padding-bottom: 0;
    }
}

.inner-reports {
    background: #fff;
    width: 208px;
    height: 43px;
    border-radius: 8px;
    border: 1px solid #E0E7EE;
    display: flex;
    margin: 10px 0;
}
@media only screen and (min-width: 992px) {
    .inner-reports { margin: 0; }
}

.lk-export {
    font-size: 15px;
    line-height: 39px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}
.inner-reports.focus {
    border: 1px solid #88BFFF;
}

.lk-export i {
    float: left; 
}
@media only screen and (min-width: 1225px) {
    .box-export { 
        padding: 0;
        display: flex;
        justify-content: end;
    }
    .lk-export { margin: 0 auto; }
}


/* box reports */
.box-reports {
    padding: 0 10px;
}

@media only screen and (min-width: 480px) {
    .box-reports { padding: 0 30px; }
}

.container-reports { padding-right: 1.0715rem; }

@media only screen and (min-width: 1223px) {
    .container-reports { padding-right: 0; }
}

.header-reports {
    display: flex;
    width: 100%;
}
@media only screen and (min-width: 1223px) {
    .header-reports { padding-right: 0; }
}

.title-reports {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.lk-reports {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.box-title {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-indent: -9000em;
    overflow: hidden;
}

.ico-finance { background: #fff url('/modules/global/img/reports/cash.png') no-repeat center; }
.ico-sell { background: #fff url('/modules/global/img/reports/ico-sell.png') no-repeat center; }
.ico-mkt { background: #fff url('/modules/global/img/reports/ico-mkt.png') no-repeat center; }

.box-title img {
    width: 23px;
    height: 14px;
}

.box-link {
    align-items: center;
    margin-left: auto;
    color: #107DFF;
    background: #fff;
    padding: 3px 14px;
    max-height: 28px;
    border-radius: 20px;
    border: 0;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
}
.box-link.silver { background: #F6F8FE; }

.box-link .redirect::before {
    color: #107DFF;
    transform: unset;
}

.box-link:hover, .box-link:hover i::before {
    color: #FFF;
    background-color: #107DFF;
}

.box-link span {
    font-weight: bold;
    max-width: 0;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
}
.box-link:hover span {
    max-width: 7rem;
}

/* cards reports */
.cards-reports { justify-content: space-between; }

.cards-reports .card-body { 
    padding: 0; 
    padding-top: 1.429rem;
}
.cards-reports .card-origin { padding: 1.429rem; }

.cards-reports h6 { margin-top: 0; }

.cards-reports .card { 
    width: 100%; 
    border-radius: 8px; 
}

.cards-reports h6 {font-weight: 700;}

.value-price {
    justify-content: space-between;
    align-items: center;
}
.value-price em {
    font-style: normal;
    font-weight: 700;
    flex: 0.155;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.value-price .green { color:#1BE4A8; }
.value-price .green i { transform: rotate(134deg); }

.value-price .pink { color: #F43F5E; }
.value-price .pink i { transform: rotate(225deg); }

@media only screen and (min-width: 768px) {
    .cards-reports .card { width: calc(1/3*100% - (1 - 1/3)* 30px); }
}

.box-payment-option {
    display: flex;
    flex: 2;
    padding: 0 1rem;
}
.box-payment-option.option { padding: 0; }

@media only screen and (min-width: 1220px) {
    .box-payment { width: 100%; }
}

.box-payment span { 
    font-size: 14px; 
    color: #636363; 
}
.box-payment span.silver { color: #A1A1A1; }

.box-payment small {
    font-size: 11px; 
    color: #636363; 
}

.box-payment.center { text-align: center; }
.box-payment.right { text-align: right; }

@media only screen and (min-width: 768px) and (max-width : 1219px){
    .box-payment-option { flex: 1; }
    .box-payment-option.option {
        flex-direction: column;
    }
}

.container-payment {
    height: 176px;
    align-items: center;
}
.container-payment.height-auto { height: auto; }

.box-ico {
    width: 36px;
    height: 37px;
    background: #F5F5FA;
    border-radius: 8px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-ico i { font-size: 20px; }

.sel-origin {margin-top: 5px;}

/* payment options */
.col-payment {
    display: flex;
    align-items: center;
    font-size: 12px;
    flex: 1;

}

.col-graph { flex: 2; }

@media only screen and (min-width: 1220px) {
    .col-graph { flex: 2; }
    .col-payment { font-size: 14px; }
}

.bar {
    background: #2E85EC;
    text-indent: -9000em;
    overflow: hidden;
    border-radius: 4px;
}

.bar.pink { background: #F43F5E; }
.bar.purple { background: #665FE8; }
.bar.blue { background: #002F66; }
.bar.blue-2 { background: #0050AF; }

/* graph */

.new-graph .ct-series-a .ct-line { stroke: #2e85ec; }
.new-graph-pending .ct-series-a .ct-line { stroke: #FF7900; }
.new-graph-cashback .ct-series-a .ct-line { stroke: #1BE4A8; }
.new-graph-sell .ct-series-a .ct-line { stroke: #2e85ec; }

.new-graph .ct-series-a .ct-area { fill: #2e85ec; }
.new-graph-pending .ct-series-a .ct-area { fill: #FF7900; }
.new-graph-cashback .ct-series-a .ct-area { fill: #1BE4A8; }
.new-graph-sell .ct-series-a .ct-area { fill: #2e85ec; }

/* new graph pie */
.box-donut { 
    padding-left: 0; 
    padding-bottom: 1.0715rem;
}
@media only screen and (min-width: 768px) and (max-width : 1219px){
    .box-donut {
        flex-direction: column;
    }
}
.new-graph-pie,
.new-graph-pie-mkt { flex: 1; }

.new-graph-pie  .ct-series-a { fill: #F43F5E; }
.new-graph-pie  .ct-series-b { fill: #2E85EC; }
.new-graph-pie  .ct-series-c { fill: #665FE8; }
.new-graph-pie  .ct-series-d { fill: #FF7900; }

.new-graph-pie-mkt  .ct-series-a { fill: #868686; }
.new-graph-pie-mkt .ct-series-b { fill: #2E85EC; }
.new-graph-pie-mkt  .ct-series-c { fill: #665FE8; }
.new-graph-pie-mkt  .ct-series-d { fill: #FF7900; }
.new-graph-pie-mkt  .ct-series-e { fill: #F43F5E; }


.data-pie { 
    display: flex;
    flex: 1; 
    justify-content: space-around;
    padding-left: 1.0715rem;
}
.data-pie ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
.data-pie ul li { 
    display: flex; 
    justify-content: space-between;
}
.data-pie ul div {
    display: flex;
    align-items: center;
}
.data-pie svg { width: 14px; }

.donut-pie svg rect { stroke-width: 3; }

.donut-pie figure { 
    width: 20px; 
    margin: 0;
    display: flex;
}
.donut-pie.blue svg { color: #2E85EC; }
.donut-pie.orange svg { color: #FF7900; }
.donut-pie.purple svg { color: #665FE8; }
.donut-pie.pink svg { color: #F43F5E; }

/* REPORTS FINANCE */
@media only screen and (min-width: 1220px) {
    .box-items-finance  { padding-right: 0; }
}

.box-items-finance .fianance-items  { 
    width: calc(1/1*100% - (1 - 1/1)* 30px); 
    max-width: 100%;
    flex: auto;
    margin-right: 15px;
}

@media only screen and (min-width: 768px) {
    .box-items-finance .fianance-items  {
        margin-right: 6px;
    }
}
@media only screen and (min-width: 1220px) {
    .box-items-finance .fianance-items {
        width: auto; 
        max-width: 25%;
        margin-right: 0;
    }
}

.finance-card { 
    padding: 16px 16px 25px; 
    border-radius: 12px;
    min-height: 104px;
}

.finance-card .title { 
    display: block;
    margin-bottom: 11px; 
    color: #636363;
    font-size: 16px;
}
.finance-card .number {
    font-size: 24px;
    font-weight: bold;
    line-height: .8;
}
.finance-card .detail {
    color: #9E9E9E;
    padding-right: 5px;
    font-size: 16px;
}

.finance-card.orange {
    background-color: #FFFDFA;
    border-color: #FF8000 !important;
}
.finance-card.orange .number { color: #FF7900; }

.finance-card.blue {
    background-color: #F8FCFF;
    border-color: #2E85EC !important;
}
.finance-card.blue .number { color: #2E85EC; }

.finance-card.green {
    background-color: #FBFFFD;
    border-color: #36D877 !important;
}
.finance-card.green .number { color: #36D877; }

.finance-card.pink {
    background-color: #FFF4F6;
    border-color: #F43F5E !important;
}
.finance-card.pink .number { color: #F54A68; }

.finance-card.purple {
    background-color: #FCFCFF;
    border-color: #665FE8 !important;
}
.finance-card.purple .number { color: #665FE8; }

.finance-card .percent {
    line-height: 25px;
    padding: 0 5px;
    color: #9E9E9E;
    font-size: 14px;
}

/* graphs primary finance */
.box-chart-primary {
    justify-content: space-between;
    padding-right: 0;
    margin-right: 22px;
    flex-direction: column;
}
@media only screen and (min-width: 1220px) {
    .box-chart-primary {
        margin-right: 0;
        flex-direction: row;
    }
}
.commission, .distribution { border-radius: 8px; }
.inner { padding: 0 20px 20px 20px; }
.inner.cash { padding-bottom: 30px; }

@media only screen and (min-width: 1220px) {
    .commission { flex: 0 0 67%; }
    .distribution { flex: 0 0 30%; }
}
@media only screen and (min-width: 1600px) {
    .commission { flex: 0 0 68%; }
}

.box-chart-primary .title-graph {
    justify-content: space-between;
    padding: 15px 0;
}
.box-chart-primary .title-graph.recurrence { padding-bottom: 5px; }

.box-chart-primary .title-graph h5 { margin: 0; }

.box-chart-primary .title-graph h6 {
    color: #9E9E9E;
    margin: 0;
}

.box-finances-values { 
    padding: 20px 0 0 0; 
    align-items: center;
}


.finances-values span {
    color: #9E9E9E;
    font-size: 16px;
}
.finances-values strong {
    color: #636363;
    font-weight: bold;
    font-size: 30px;
}
.finances-values i {
    width: 18px;
    height: 12px;
    display: inline-block;
    text-indent: -9000em;
    vertical-align: middle;
}

.finances-values svg.green path { fill: #1BE4A8; }

.finances-values svg.pink path  {
    fill: #F43F5E;
    transform: translate(0px, 11px) scale(1, -1);
}

.finances-values em {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    padding-left: 5px;
}
.finances-values em.green { color: #1BE4A8; }
.finances-values em.pink { color: #F43F5E; }

/* .graph-reports { padding: 0 0 20px 0; } */
.graph-reports .ct-series-a .ct-area {
    fill: #1BE4A8;
}
.graph-reports .ct-series-a .ct-line {
    stroke: #1BE4A8;
}

.sub-comission {
    flex-direction: column;
}
@media only screen and (min-width: 1220px) {
    .sub-comission {
        flex-direction: row;
    }

    .inner-comission {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 1.0715rem 0 0;
    }
    .inner-comission + .inner-comission { padding: 0 0 0 1.0715rem; }
}

.sub-distribution {
    flex-direction: column;
}

.box-graph-dist {
    padding: 1.0715rem 1.0715rem 25px 1.0715rem;
    align-items: center;
}

.info-graph h6 { margin-bottom: 0; }
.info-graph small { 
    color: #9E9E9E; 
    font-style: normal;
}
.info-graph strong { font-size: 20px; font-style: normal;}

.distribution-graph,
.distribution-graph-seller { width: 154px; }

.distribution-graph svg,
.distribution-graph-seller svg {
    transform: translate(-30px, 0);
}

@media only screen and (min-width: 1227px) and (max-width : 1600px){
    .distribution-graph, 
    .distribution-graph-seller { width: 159px; }
}

.distribution-graph  .ct-series-a { fill: #FF2F2F; }
.distribution-graph  .ct-series-b { fill: #B70000; }
.distribution-graph  .ct-series-c { fill: #1BE4A8; }
.distribution-graph  .ct-series-d { fill: #FFB443; }

.distribution-graph-seller  .ct-series-a { fill: #00C2FF; }
.distribution-graph-seller  .ct-series-b { fill: #FFBA06; }
.distribution-graph-seller  .ct-series-c { fill: #767676; }
.distribution-graph-seller  .ct-series-d { fill: #665FE8; }
.distribution-graph-seller  .ct-series-e { fill: #1BE4A8; }
.distribution-graph-seller  .ct-series-f { fill: #ff0000; }

.box-distribution { flex-flow: wrap; }
.box-distribution .distribution-area { width: 50%; }

.distribution-area .cube {
    border-radius: 8px;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.distribution-area .green { background: rgba(27, 228, 168, .1) url('/modules/global/img/reports/ico-oval-green.png') no-repeat center; }
.distribution-area .yellow { background: rgba(255, 180, 67, .1) url('/modules/global/img/reports/ico-oval-yellow.png') no-repeat center; }
.distribution-area .red { background: rgba(255, 0, 0, 0.08) url('/modules/global/img/reports/ico-oval-red.png') no-repeat center; }
.distribution-area .strong { background: rgba(183, 0, 0, 0.08) url('/modules/global/img/reports/ico-oval-strong.png') no-repeat center; }

.footer-distribution { padding: 5px 0 20px 0; }

.footer-distribution small { 
    color: #9E9E9E; 
    font-size: 14px;
}
.footer-distribution strong { 
    font-size: 18px; 
    font-weight: bold;
}

.balance { padding-left: 0; }

.balance small {
    color: #9E9E9E;
    font-size: 16px;
}
.balance .total { font-size: 18px; }
.balance .total.orange { color: #FF7900; }
.balance .total.red { color: #ED1C24; }

.ico-coin {
    background: #F6F8FE;
    width: 34px;
    height: 34px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 31px;
    margin-right: 10px;
}
.ico-coin.seller { 
    width: 38px; 
    height:38px; 
    margin-right: 15px;
}
.align-items { align-items: center; }
.align-items .qtd {
    height: 33px;
    display: flex;
    align-items: center;
}

.cash-box {
    height: 73px;
    padding: 45px 20px;
}
.cash-box.seller { padding: 0 24px; }

.inner.relative { 
    position: relative; 
    margin-bottom: 0;
}

.inner.relative .title-graph {
    position: absolute;
}

#financesChart {
    margin-top: 17px;
}

.box-distribution.secondary {
    overflow: hidden;
}
.box-distribution.secondary .distribution-area { 
    width: 100%; 
    display: flex;
    justify-content: space-between;
}

.box-distribution.secondary .item {
    height: 30px;
    display: flex;
    align-items: center;
}
.box-distribution.secondary .item:nth-child(1) { width: 33%; }
.box-distribution.secondary .item:nth-child(2) { width: 40%; }
.box-distribution.secondary .item:nth-child(3) { width: 27%; }

.box-distribution.secondary .item.center { text-align: center; }
.box-distribution.secondary .item.right { text-align: right; justify-content: end; }

.box-distribution.secondary .item span { 
    padding-right: 6px;
    height: 30px;
    display: flex;
    align-items: center;
 }
.box-distribution.secondary svg { 
    display: inline-block; 
    vertical-align: sub; 
}

.list-sales {
    width: 100%;
    justify-content: space-between;
}

.scroll-212 {
    overflow: scroll;
    height: 212px;
}
.scroll-212 .box-payment-option { margin-bottom: 20px; }

/* marketing */
.box-resume { 
    flex-wrap: wrap; 
    min-height: 142px; 
}

.box-resume .balance:nth-child(1),
.box-resume .balance:nth-child(2) { margin-bottom: 20px; }

.header-resume { display: flex; }


.header-resume .ico-coin{ 
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    margin-right: 15px;
}
.header-resume h6 { 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 0;
}
.header-resume strong {
    color: #636363;
    font-size: 24px;
}

.header-resume small {
    color: #A1A1A1;
    font-size: 12px;
}

.ico-coin.mkt {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mkt-msg-conversion {
    color: #797979;
    font-size: 12px;
}
.container-devices .container { margin-bottom: 22px; }

.value-percent {
    width: 100%;
    display: block;
    text-align: right;
}