
.btn-light-1, .btn-primary-1, .btn-success-1 {
    border-radius: 12px;
    padding: 15px;
    font-size: 14px;
}

.btn-light-1 {
    border: 1px solid #dddddd;
    background-color: #FFF;
    color: #707070
}

.btn-light-1:hover {
    background-color: #F3F3F3;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary-1 {
    background-color: #2E85EC;
    color: #FFF;
}

.btn-primary-1:hover {
    background-color: #0D2C54;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
@media only screen and (min-width: 768px){
    .col-md-3.card {
        margin-right: 10px;
        max-width: calc(25% - 10px);
    }
}
@media only screen and (min-width: 576px) and (max-width : 767px){
    .col-sm-6.card {
        margin-right: 10px;
        max-width: calc(50% - 10px);
    }
}
h4.number{
    color:#57617c;
}