/* Defaults */

input,
textarea,
select,
button,
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline:  1px solid #2E85EC !important;
}

button {
    border: none;
    background-color: #FFFFFF;
    color: #676767;
}

button:active {
    background-color: #ECECEC;
}

.new-circle {
    display: none;
    width: 12px;
    height: 12px;
    margin-bottom: 2px;
    border-radius: 50%;
    background-color: #2E85EC;
}

.card {
    padding: 16px 20px;
    font-size: 16px;
    color: #959595;
}

.card .title {
    margin-bottom: 11px;
}

.card .tickets-resume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.card .number {
    margin-right: 9px;
    font-size: 26px;
    font-weight: bold;
    line-height: .8;
}

.card.orange {
    background-color: #FFF9E9;
    border-color: #FF8000 !important;
}

.card.orange .number {
    color: #FF8000;
}

.card.purple {
    background-color: #FFFFFF;
    border-color: #5D2FEA !important;
}

.card.purple .number {
    color: #5D2FEA;
}

.card.green {
    background-color: #FBFFFD;
    border-color: #50DF98 !important;
}

.card.green .number {
    color: #50DF98;
}

.card.blue {
    background-color: #F8FCFF;
    border-color: #2E85EC !important;
}

.card.blue .number {
    color: #2E85EC;
}

/* Filters */

.filter-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-container::before {
    content: '';
    position: absolute;
    left: 46px;
    top: 0;
    width: 30px;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0.8), rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0.8), rgba(255, 255, 255, 0));
    z-index: 1;
}

.filter-container::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 0;
    width: 30px;
    height: 100%;
    background: -webkit-linear-gradient(right, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0.8), rgba(255, 255, 255, 0));
    background: linear-gradient(to left, rgba(243, 243, 243, 1), rgba(243, 243, 243, 0.8), rgba(255, 255, 255, 0));
    z-index: 1;
}

.filter-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #676767;
}

.filter-icon i {
    margin-right: 8px;
}

.filter-icon span {
    display: none;
    font-size: 16px;
    font-weight: bold;
}

.filter-badge {
    position: relative;
    margin: 0 4px;
    padding: 12px 20px;
    border-radius: 60px;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1;
    border: 1px solid #f3f3f3;
    background-color: #ffffff;
    color: #454545;
    -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, padding-right .1s;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, padding-right .1s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-badge.active {
    padding-right: 32px;
    background: #2E85EC;
    color: #ffffff;
}

.filter-badge.focused {
    border: 1px solid #2E85EC;
    color: #2E85EC;
}

.filter-badge::after {
    content: '\00d7';
    position: absolute;
    top: 19px;
    right: 12px;
    font-size: 24px;
    line-height: 0;
    visibility: hidden;
}

.filter-badge.active::after {
    visibility: visible;
}

.filter-badge.multiselect {
    padding-right: 32px !important;
}

.filter-badge.multiselect::after {
    content: '\2304';
    top: 16px;
    visibility: visible;
}

.filter-badge.daterange {
    padding-right: 44px !important;
}

.filter-badge.daterange:not(.active)::after {
    content: url('/modules/global/img/calendar.svg') !important;
    top: 9px;
    visibility: visible;
}

.filter-badge.daterange.focused::after {
    content: url('/modules/global/img/calendar-blue.svg') !important;
    visibility: visible;
}

.filter-badge.dropdown {
    padding-right: 30px !important;
}

.filter-badge.dropdown:not(.active)::after {
    content: url('/modules/global/img/down.svg') !important;
    top: 16px;
    visibility: visible;
}

.filter-badge.dropdown.focused::after {
    content: url('/modules/global/img/down-blue.svg') !important;
}

.filter-badge-input {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 250px;
    max-width: 250px;
    margin-top: 5px;
    padding: 10px 12px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0 8px 10px #00000012;
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.filter-badge-input#input-answer {
    min-width: 298px;
    max-width: 298px;
}

.filter-badge-input#input-answer .sirius-select-text {
    width: 220px;
}

.filter-badge-input.clean {
    max-width: none;
    padding: 0;
    background: none;
    box-shadow: none;
}

.filter-badge-input.show {
    visibility: visible;
    opacity: 1;
}

.filter-badge-input input,
.filter-badge-input select,
.filter-badge-input .sirius-select-container {
    margin-right: 5px;
    font-size: 14px;
}

.filter-badge-input:not(.clean) button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 43px;
    height: 43px;
}

.vertical-line {
    min-width: 1px;
    height: 44px !important;
    margin: 0 20px;
    background-color: #DFDFDF;
}

/* Grid */

.tickets-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
    overflow: hidden;
}

.tickets-grid-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 430px 40px;
    grid-template-rows: 50px 430px 40px;
    border-right: 1px solid #ECECEC;
}

.tickets-grid-right {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 380px 90px;
    grid-template-rows: 50px 380px 90px;
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-columns: minmax(0, 1fr)
}

/* Search */

.search-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 26px;
    border-top-left-radius: 16px;
    border-bottom: 1px solid #ECECEC;
}

.input-select {
    position: relative;
    width: auto;
    margin: 6px 0 0 5px;
    padding: 0 26px 3px 0 !important;
    border: none;
    border-bottom: 1px solid #676767;
    border-radius: 0;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjNjM2MzYzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC43ODEgMS4yMjUgNi4wMjggNS43OWEuNzY5Ljc2OSAwIDAgMS0xLjA1NiAwTC4yMTkgMS4yMjVhLjY5Ny42OTcgMCAwIDEgMC0xLjAxNS43NjkuNzY5IDAgMCAxIDEuMDU2IDBMNS41IDQuMjY4IDkuNzI1LjIxYS43NjkuNzY5IDAgMCAxIDEuMDU2IDAgLjY5Ny42OTcgMCAwIDEgMCAxLjAxNVoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: 93% center;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 49px;
    height: 49px;
    border-left: 1px solid #ECECEC;
    background: transparent;
}

@-moz-document url-prefix() {
    .btn-search {
        width: 48px;
        height: 48px;
    }
}

.search-box {
    position: absolute;
    top: 52px;
    right: 0;
    display: none;
    min-width: 290px;
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 0 8px 10px #00000012;
    background: #FFFFFF;
}

.search-box.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-box input {
    margin-right: 5px;
    font-size: 14px
}

.search-box button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

/* Tickets */

.tickets-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.tickets-container::-webkit-scrollbar {
    width: 0;
}

.ticket-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 13px 10px 0;
    background-color: #FFFFFF;
    cursor: pointer;
}

.ticket-item.active {
    background-color: #F8F8F8;
}

.ticket-status-icon {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #676767;
}

.ticket-status-icon.open {
    background-color: #FFA200;
}

.ticket-status-icon.answered {
    background-color: #2E85EC;
}

.ticket-status-icon.closed {
    background-color: #62E3B0;
}

.ticket-status-icon.mediation {
    background-color: #FF3D00;
}

.customer-name {
    font-weight: bold;
    line-height: 1;
    color: #5A5A5A;
}

.ticket-subject {
    margin-bottom: 5px;
    font-size: 12px;
    color: #B1B1B1;
}

.ticket-last-message {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    font-size: 12px;
    line-height: 12px;
    color: #8D8D8D;
}

.tickets-empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 322px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.tickets-empty img {
    width: 190px;
    margin-bottom: 32px;
}

.messages-empty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    max-width: 535px;
    margin: 0 auto;
    text-align: center;
}

.messages-empty img {
    width: 173px;
    margin-bottom: 27px;
}


/* Pagination */

.pagination-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    padding: 16px 12px 16px 20px;
    border-top: 1px solid #ECECEC;
}

.current-page-text {
    font-size: 12px;
    color: #8D8D8D;
}

.pagination {
    margin-left: auto;
}

.pagination button {
    padding: 0 4px;
    font-size: 12px;
    color: #8D8D8D;
    cursor: pointer;
}

.pagination button.active {
    font-weight: bold;
    color: #2A8EF3;
}

/* Header */

.ticket-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-right-radius: 16px;
    border-bottom: 1px solid #ECECEC;
}

.ticket-back {
    display: none !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border-top-left-radius: 16px;
}

.ticket-customer {
    display: none !important;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.ticket-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    width: 146px;
    padding: 10px 26px;
    border-right: 1px solid #ECECEC;
}

@-moz-document url-prefix() {
    .ticket-status {
        height: 48px;
    }
}

.ticket-status-icon.small {
    width: 12px;
    height: 12px;
}

.ticket-status-text {
    margin-left: 5px;
    font-size: 12px;
    color: #959595;
}

.ticket-category {
    padding: 0 20px;
    font-size: 12px;
}

.ticket-category-text,
.ticket-project {
    font-weight: bold;
}

/* Messages */

.messages-container {
    padding: 10px 30px;
    overflow-y: auto;
    scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
    width: 0;
}

.ticket-messages-resume {
    position: relative;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 12px;
    color: #B1B1B1;
}

.ticket-messages-resume::after {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 60%;
    height: 1px;
    margin-top: 15px;
    background-color: #ECECEC;
}

.ticket-message {
    max-width: 60%;
    margin: 16px 0;
    padding: 16px 18px;
    border-radius: 0 8px 8px 8px;
    font-size: 14px;
    color: #6B6B6B;
    background-color: #F9F9F9;
}

.ticket-message span {
    white-space: break-spaces;
}

.ticket-message.admin {
    margin-left: auto;
    border-radius: 8px 8px 0 8px;
    background-color: #2E85EC;
    color: #FFFFFF;
}

.ticket-message.system {
    margin-left: auto;
    border-radius: 8px 8px 8px 8px;
    background-color: #0e0233;
    color: #FFFFFF;
}

.ticket-message.file {
    border-radius: 8px 8px 8px 8px;
    background-color: #7a919d !important;
    color: #FFFFFF;
}

.ticket-message .file-download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: -16px -18px 0 -18px;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
    cursor: pointer;
}

.ticket-message .file-download span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
    word-break: break-all;
}

.ticket-message .file-download i {
    font-size: 36px;
}

.ticket-message .file-extension {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
}

.ticket-message-date {
    margin-top: 10px;
    text-align: right;
    font-size: 10px;
    color: #BEBEBE;
}

.ticket-message.file .ticket-message-date,
.ticket-message.admin .ticket-message-date,
.ticket-message.system .ticket-message-date {
    color: #FFFFFF;
}

/* Write */

.write-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-top: 1px solid #EFEFEF;
}

.ticket-closed-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 90px;
    overflow: hidden;
    font-size: 12px;
    color: #636363;
}

.ticket-closed-info b {
    font-size: 14px;
}

.inputs-container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#write-area {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 0;
    resize: none;
    scrollbar-color: #ccc #fff;
}

#write-area::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
}

#write-area::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.attachments-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    overflow-x: auto;
    background-color: #fff;
}

.attachments-container::-webkit-scrollbar {
    height: 6px;
    background-color: transparent;
}

.attachments-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #858585;
}

.attachment {
    position: relative;
    margin: 0 5px;
    padding: 5px 30px 5px 15px;
    border-radius: 8px;
    background-color: #2E85EC;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.attachment::after {
    content: '\00d7';
    position: absolute;
    right: 12px;
}

.write-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    background-color: #FFFFFF;
}

.write-buttons button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 17px;
    cursor: pointer;
}

.write-buttons button:active i {
    color: #2e85eb;
}

.write-buttons button i {
    font-size: 17px;
}

#btn-send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 54px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
}

#btn-send:active i {
    color: #2e85eb;
}

#btn-send:disabled {
    opacity: .5;
}

.sirius-select-container {
    width: 285px;
}

/* Responsive adjusts */

@media (max-width: 768px) {

    .new-circle {
        display: inline-block;
    }

    .page-header .sirius-select-container {
        width: 100%;
    }

    .tickets-grid {
        -ms-grid-columns: 1fr 0;
        grid-template-columns: 1fr 0;
    }

    .tickets-grid-left {
        border-right: none;
    }

    .btn-search {
        border-top-right-radius: 16px;
    }

    .ticket-back,
    .ticket-customer {
        display: block !important;
    }

    .ticket-status {
        width: auto;
        margin-left: auto;
        border: none;
    }

    .ticket-category {
        display: none !important;
    }

    .messages-container {
        padding: 10px 15px;
    }

    .ticket-message {
        max-width: 95%;
    }

    .current-page-text {
        display: none !important;
    }

    .pagination-container {
        padding: 0;
    }

    .pagination {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

    .pagination button {
        padding: 10px;
        text-align: center;
        font-size: 14px;
    }

    .ticket-closed-info,
    .write-buttons {
        border-bottom-left-radius: 16px;
    }

    .write-buttons button {
        margin-right: 5px;
    }

    .write-buttons button i {
        font-size: 20px;
    }
}

@media (max-width: 418px) {
    .card {
        padding: 16px;
    }

    .card .title {
        margin-bottom: 8px;
        font-size: 14px;
    }

    .card .detail {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    .card .detail {
        display: none;
    }
}
.date-picker-wrapper.no-topbar.no-gap.single-month{
    border-color: #88BFFF;
}
