/* ========= CONFIGURATIONS MULTIPLE SELECT 2 BOX ========= */
.select2-container--default .select2-selection--multiple{
    border: 1px solid #CECECE !important;
    border-radius: 8px;
    max-height: 43px;
    min-height: 43px;
    overflow-x: hidden !important;
}

/* CONFIGURATIONS THE INTERN CONTENT*/
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    height: 32px;
    border: none !important;
    padding-top: 5px !important;
}

/* SPESIFIC CONFIGURATION TO FIREFOX */
span.select2-selection.select2-selection--multiple{
    scrollbar-width: thin;
}
.select2-results__options{
    scrollbar-width: thin;
}
/* and */

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #AAAAAA;
}

.select2-selection.select2-selection--multiple{
    border: none !important;
    border-radius: 8px !important;
}

.select2-container{
    border: 1px solid #e0e7ee;
    border-radius: 8px;
    /* focus #88BFFF */
}

.select2-container--open{
    border-color: #88BFFF;
}

.default-border{
    outline: none;
    border : 1px solid #e0e7ee ;
}
.default-border :focus{
    border : 1px solid #88BFFF ;
}

li.select2-selection__choice{
    min-height: 32px;
    height: auto !important;
    text-overflow: ellipsis !important; 
    display: block !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.select2-search__field{
    width: 100% !important;
    padding-top: 5px !important;
}
/* END CONFIGURATIONS MULTIPLE SELECT 2 */


/* COMPORTAMENTO TELA */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    #panel-graph, #panel-cards {
    min-height: 225px !important;
   }
}

@media only screen and (min-width : 1200px) and (max-width : 1440px) {
    #panel-graph, #panel-cards {
    min-height: 200px !important;
   }
   #panel-graph{
       max-height: 200px;
   }
}

/* Trackings Table */
.fake-label {
    border-color: transparent !important;
    background-color: transparent !important;
}

@media (max-width: 768px) {
    .input-tracking-code {
        width: auto;
        margin: 0 auto;
    }
}

.td-odd {
    background-color: rgba(51, 51, 51, 0.06) !important;
}
/* END - Trackings Table */

.cell-selected {
    border: 2px solid green;
    padding: 10px 13px;
}

.cell-selected::after {
    content: "";
    width: 8px;
    height: 8px;
    background: green;
    position: relative;
    display: inline-block;
    float: right;
    top: 4px;
    left: 15px;
    border: 1px solid #fff;
}

.cell-selected .caret {
    overflow: hidden;
    border-right: .15em solid #000;
    white-space: nowrap;
    display: block;
    max-width: 94px;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #000;
    }
}

.cell-fade {
    background: linear-gradient(90deg, transparent, #fff);
    width: 100px;
    height: 161px;
    position: absolute;
    bottom: 29px;
    right: 30px;
}

@media (max-width: 569px) {
    .cell-fade {
        right: 0;
        left: 379px
    }
}

@media only screen and (min-width: 851px) {
    .col-md-3.card {
        margin-right: 10px;
        max-width: calc(25% - 10px);
    }
}

@media only screen and (min-width: 530px) and (max-width: 850px) {
    .col-sm-6.card {
        margin-right: 10px;
        max-width: calc(50% - 10px);
    }
}

h4.number {
    color: #57617c;
}


#btn-export-xls {
    border-radius: .5em 0 0 .5em !important;
}

#btn-export-csv {
    border-radius: .0em .5em .5em 0 !important;
}
.disableFields{
    background-color: #f3f7f9;
}

/* ======== INPUT PESQUISAR POR DATA ======== */
input#date_updated{
    padding: 11px 16px 11px 16px !important;
}


/* ======== ALERTA DE PROBLEMA COM O CODIGO ======== */
.alert-tracking {
	background-color: #F6FAFF;
}
.alert-tracking span.alert-text {
	vertical-align: middle;
	padding-left: 5px;
}
.alert-tracking img {
	width: 24px;
}
.text-muted {
	color: #959595 !important;
}


/* ======== CARDS SETTINGS ======== */
.card-height{
    max-height: 101px;
}
.card-posted{
    border-top-left-radius: 8px !important;
}
.card-to-delivery{
    border-top-right-radius: 8px !important;
}
.card-delivery-problem{
    border-bottom-left-radius: 8px !important;
}
.card-delivered{
    border-bottom-right-radius: 8px !important;
}
.card-graphic-labels{
    border-radius: 8px !important;
}
.adjust .card-body{
    padding: 18px;
}


/* ======== CORES DA LEGENDA DO GRACIFO ======== */
.posted {
    color: #33638F;
}
.onDelivery {
    color: #00B1FF;
}
.delivered {
    color: #1BE4A8;
}
.inTransit {
    color: #FFCD1B;
}
.withProblem {
    color: #FF2F2F;
}
.withoutInfo {
    color: #B9B9B9;
    ;
}


/* ======== CORES DO STATUS NA TABELA ======== */
.statusPosted {
    background-color: #33638F;
    color: white;
}
.statusOnDelivery {
    background-color: #00B1FF;
    color: white;
}
.statusDelivered {
    background-color: #1BE4A8;
    color: white;
}
.statusInTransit {
    background-color: #FFCD1B;
    color: white;
}
.statusProblem {
    background-color: #FF2F2F;
    color: white;
}
.statusWithoutInfo {
    background-color: #B9B9B9;
    color: white;
}


/* ======== ARRENDONDA FINAL DA TABELA ======== */
.no-final-space{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


/* ======== BOTAO DE ADICIONAR CODIGO ======== */
span.o-add-1.text-primary.border.border-primary {
    font-size: 25px;
    border-radius: 5px !important;
    border-width: 1px !important;
    padding: 0px 10px 0px 10px !important;
}


/* ======== INPUT CODIGO DE RASTREIO ======== */
input.form-control.font-weight-bold.input-tracking-code[readonly]{
    border: 1px solid ;
    border-radius: 8px;
    border-color: #CECECE;
    background: #F1F1F1;
}
input[type="text"]::placeholder{
    text-align: center;
}


/* ======== ALTURA E LARGURA PADRAO BOTAO ======== */
.default-buttons{
    height: 38px;
    width: 38px;
}


/* ======== BOTAO CHECKED SALVAR ======== */
a.tracking-save.pointer.mr-10.text-center {
    text-align: center;
    background: #2E85EC;
    border-radius: 5px;
    border-width: 1px !important;
    padding: 7px 9px 0px 9px !important;
    transition: 0.5s;

}
a.tracking-save.pointer.mr-10.text-center:hover {
    background: #206ECA;
}
#pencil{
    font-size: 20px !important;
    -webkit-text-stroke: 2.0px rgb(255, 255, 255);
}


/* ======== BOTAO FECHAR/CANCELAR ======== */
div.tracking-close.pointer{
    color: black;
    background: #EDEDED;
    border-radius: 5px;
    font-size: 25px;
    width: 36px;
    height: 38px;
    padding: 2px 0px 0px 8px;
    transition: 1s;
}
div.tracking-close.pointer:hover {
    background: #D1D1D1;
    font-size: 25px !important;

}


/* ======== BOTAO DE EDITAR CODIGO ======== */
a.tracking-edit.pointer {
    color: #F1F1F1;
    border: 1px solid !important;
    border-color: #CECECE !important;
    border-radius: 5px !important;
    padding-top: 3px;
    min-width: 37px;
}
span.text-right.o-edit-1 {
    border-radius: 5px !important;
    border-width: 2px !important;
    padding: 0px 7px 0px 7px !important;
}


/*  ======== BOTAO DE VISUALIZAR ======== */
a.tracking-detail.pointer{
    color: #F1F1F1;
}
span.o-eye-1{
    padding: 6px 5px 0px 5px !important;
}


/* ======== TRATAMENTO DE IMAGEM QUANDO NAO TEM DADOS ======== */
div#dataCharts{
    position: relative;
    justify-content: flex-end;
    border-radius: 8px;
}
#noData{
    z-index: 1;
    position: relative;
    height: 105px;
    border-radius: 8px;
}


/* ======== GRAFICO DE RESULTADO EM CANVAS ======== */
#myChart{
    max-width: 160px !important;
    max-height: 160px !important;
    margin: auto;
    z-index: 1;
}


/* ======== DIV APRESENTAÇÂO DE TOTAL NO CENTRO DO GRAFICO ======== */
.total-container {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 32%;
    left: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    flex-direction: column;
}
span#total-products{
    font-size: 24px;
    font-weight: bold;
    color: #0D2C54;
    margin-top: 4px;
}
td.table-title{
    color: #0D2C54 !important;
}
.resume-number {
    font-size: 24px;
    font-weight: bold;
}
#graphic-loading {
    height: 100%;
    width: 95%;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
#alert-tracking-issues{
    border-radius: 10px;
}
.labels{
    margin-top: 9px;
    margin-bottom: 9px;
}