/* Tracking Status */

.step-line {
    background: #758D96;
    height: 3px;
    flex: 1
}

.step-dot {
    background: #758D96;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.step-item {
    flex: 1;
    display: flex;
    align-items: center;
}

.tracking-timeline-row {
    display: flex;
    flex-direction: row;
}

.tracking-timeline-row .date-item,
.tracking-timeline-row .status-item{
    flex: 1;
    color: #758D96;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tracking-timeline-row .status-item{
    font-weight: bold;
}

.tracking-timeline{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.step-item.active .step-dot,
.step-item.active .step-line{
    background: #17a2b8;
}

.date-item.active,
.status-item.active{
    color: #17a2b8;
}

.step-item.exception .step-dot,
.step-item.exception .step-line{
    background: #dc3545;
}

.date-item.exception,
.status-item.exception{
    color: #dc3545;
}

@media (max-width: 768px) {
    .tracking-timeline{
        flex-direction: row;
    }
    .tracking-timeline-row{
        flex-direction: column;
        flex: 1;
    }
    .step-item{
        min-height: 50px;
        flex-direction: column;
    }
    .step-line {
        width: 3px;
    }
}

/* END - Tracking Status */

/* Trackings Table */

.fake-label{
    border-color: transparent !important;
    background-color: transparent !important;
}

.td-odd{
    background-color: rgba(51, 51, 51, 0.06) !important;
}

/* END - Trackings Table */

.cell-selected {
    border: 2px solid green;
    padding: 10px 13px;
}

.cell-selected::after {
    content: "";
    width: 8px;
    height: 8px;
    background: green;
    position: relative;
    display: inline-block;
    float: right;
    top: 4px;
    left: 15px;
    border: 1px solid #fff;
}

.cell-selected .caret {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    display: block;
    max-width: 94px;
    animation: typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000; }
}

.cell-fade{
    background: linear-gradient(90deg, transparent, #fff);
    width: 100px;
    height: 161px;
    position: absolute;
    bottom: 29px;
    right: 30px;
}



