#modal-edit-shipping .modal-header {
    position: relative;
}

#modal-edit-shipping .modal-header .close {
    position: absolute;
    right: 22px;
    top: 8px;
}

#modal-edit-shipping .modal-title {
    line-height: 22px;
}

#modal-edit-shipping .switch-holder label {
    margin-left: 0;
    margin-bottom: 10px;
    font-weight: normal;
}

#modal-edit-shipping .form-group {
    margin-bottom: 12px;
}

#modal-edit-shipping .switch-holder {
    margin-bottom: 22px;
}

#modal-edit-shipping .select2-selection.select2-selection--multiple{
    padding: 3px;
    border-radius: 8px;
    border-color: #e0e7ee;
}
#modal-edit-shipping  .select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color: #88BFFF !important;
}

#modal-edit-shipping .modal-footer {
    padding-top: 8px;
}
