.quill-editor {
  height: 70px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 10px;
}

.ql-toolbar { 
  border-radius: 8px 8px 0 0; 
}

.quill-editor p {
  color:#454545;
  text-align: left;
}

.editor-toolbar-container {
  display: flex;
  justify-content: center;
  height: 40px;
}