body {
	font-family: 'Muli', sans-serif;
	min-height: 100vh;
}

a.sm-text,
a.sm-text:hover {
	color: #f78d1e !important;
	text-decoration: none !important;
}

a { text-decoration: none;}
a:hover { text-decoration: none;}

.hr {
	height: 1px;
	width: 80%;
	margin-top: 30px;
	margin-bottom: 20px;
	display: flex;
	align-self: center;
	opacity: 0.3;
	background: #fff;
}
.content-holder {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.panel h3 {
	padding: 20px 0px;
}
input {
	font-family: "Muli", sans-serif !important;
	width: 100%;
	border: 2px solid #c8c8c8;
	border-radius: 10px;
	font-size: 14px;
	letter-spacing: -0.01em;
	color: #1a1a1a;
	padding: 10px 16px;
}
input:focus {
	outline: none;
	outline-color: transparent !important;
	border: 2px solid #f78d1e;
	transition: border 0.5s ease;
}
.input-holder {
	width: 100%;
	margin: 20px 0px;
}

button {
	width: 100%;
	font-family: 'Muli', sans-serif !important;
}

input[type=button]:focus {
	outline: none !important;
	outline-color: transparent !important;
}
.btn-primary {
	color: white;
	background-color: blue;
	border-color: blue;
	font-size: 14px;
	height: 50px;
	cursor: pointer;
}
.btn-primary.orange:hover {
	color: white;
	background-color: #f16413;
	border-color: #f16413;
}
.btn-primary.orange {
	background-color: #f78d1e;
	border-color: #f78d1e;
}
.logo-btn {
	margin-right: 35px;
}


.page-content {
    display: flex;
    align-self: center;
	min-height: 100vh;
	padding: 30px;
	width: 550px;
}
.social-login {
	background-color: white;
	border: transparent;
	color: black;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.social-login:hover {
	background-color: rgb(228, 228, 228);
	border: transparent;
}
.social-login.google {
	color: #ea4335;
}
.social-login.facebook {
	color: #184daf;
}
.logobar img {
	width: 180px;
}
.row {
	width: 100%;
}
.toggle {
	width: 100% !important;
	margin-top: 35px;
	text-align: center;
}
.toggle-text {
	font-size: 12px;
	font-weight: 800;
	font-stretch: normal;
	letter-spacing: 1.9px;
	text-align: center;
	color: #323c45;
    opacity: 0.5;
    border-bottom: 2px solid rgba(180, 180, 180, 0.25);
    padding-bottom: 15px;
}

.toggle-text.active {
	color: #323c45;
    opacity: 1;
    border-bottom-color: #ea4335;
}

.toggle input {
    opacity: 0;
	width: 0;
	height: 0;

}

.row.nm {
	margin-left: 0px;
	margin-right: 0px;
}
.panel {
	width: 100%;
	height: auto;
	padding: 20px 60px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}
.clearfix {
	width: 100%;
	height: 25px;
}
.btnfix {
	width: 100%;
	height: 10px;
}
.login-btn {
	margin-top: 10px;
}
.sm-text {
	font-size: 12px;
	font-weight: normal;
}
.gray {
	color: #222222;
	opacity: 0.6;
}
/* SWITCH CONFIG */

label.switch {
	margin-bottom: 0 !important;
}
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 15px;
	margin-right: 15px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: -3px;
	top: -2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}
input:checked + .slider {
	background-color: #f78d1e;
}
input:focus + .slider {
	box-shadow: 0 0 1px #f78d1e;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}

.oval {
	width: 4px;
	height: 4px;
	margin: 0px 15px;
	border-radius: 20px;
	background-color: #f16413;
  
}

.linkfooter {
	color: white !important;
}



@media (min-width: 300px) and (max-width: 460px) {

	.page-content {
		width: 100%;
		padding: 10px;
	}

	.panel {
		width: 100%;
		padding: 15px 30px;
	}

	.oval {
		margin: 0px 8px;
	}

	.switch {
		margin-right: 5px;
	}
	
}

@media (min-width: 560px) and (max-width: 820px) {

}

@media (min-width: 1200px) {

}