html, body {
    position:relative;
    overflow-x: hidden !important;
}

body {
    scroll-behavior: smooth;
    background-color: #F1F4F5;
    font-family: 'Muli', sans-serif !important;
}

.popover {
    max-width: 600px;
}

.table-responsive {
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-active > .bg-menu {
    background: #2E85EC;
    border-radius: 0 44px 44px 0;
    display: inline-block;
}

.menu-active .site-menu-item i {
    display: none;
}

.menu-img-active {
    height: 30px;
    width: 30px;
    margin-left: -5px;
}

@media screen and (min-width: 1201px) {
    .display-xlg-none {
        display: none !important;
    }

    .min-row-height tr {
        height: 60px;
    }

    .options-column-width {
        width: 200px !important;
    }

    .mg-responsive {
        margin: 0px 10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .display-lg-none {
        display: none !important;
    }

    .min-row-height tr {
        height: 60px;
    }

    .options-column-width {
        width: 200px;
    }

    .mg-responsive {
        margin: 0px 10px;
    }

    .table td {
        padding: 10px 13px !important;
    }
}

@media screen and (min-width: 815px) and (max-width: 991px) {
    .display-m-none {
        display: none !important;
    }

    .min-row-height tr {
        height: 60px;
    }

    .options-column-width {
        width: 200px;
    }

    .mg-responsive {
        margin: 0px 10px;
    }

    .table td {
        padding: 10px 13px !important;
    }

    tr td, tr .headCenter {
        text-align: center;
    }

    td.noMiddle {
        text-align: justify !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 814px) {
    .display-sm-none {
        display: none !important;
    }

    .min-row-height tr {
        height: 60px;
    }

    .options-column-width {
        width: 200px;
    }

    .mg-responsive {
        margin: 0px 10px;
    }

    .table td {
        padding: 10px 13px !important;
    }

    tr td {
        text-align: center;
    }

    td.noMiddle {
        text-align: justify !important;
    }

    @media screen and (min-width: 768px) and (max-width: 794px) {
        .mg-responsive {
            margin: 3px !important;
        }
    }
}

@media screen and (min-width: 1px) and (max-width: 767px) {
    .display-xsm-none {
        display: none !important;
    }

    .min-row-height tr, .options-column-width, #modal-saleDetails {
        height: unset;
        width: unset !important;
    }

    .mg-responsive {
        margin: 0px 1.5em;
    }

    .table td {
        padding: .3em !important;
    }

    table.unify {
        border: 1px solid #CCCCCC;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table.unify caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table.unify tr {
        background-color: #F8F8F8;
        border: 1px solid #DDDDDD;
        /*padding: .35em;*/
    }

    table.unify th,
    table.unify td {
        padding: .625em;
        text-align: center;
    }

    table.unify th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    table.unify .display-sm-none {
        display: none;
    }

    @media screen and (max-width: 767px) {
        table.unify {
            border: 0;
        }

        table.unify caption {
            font-size: 1.3em;
        }

        table.unify thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table.unify tr {
            border-bottom: 3px solid #DDDDDD;
            display: block;
            /*margin-bottom: .625em;*/
        }

        table.unify td {
            border-bottom: 1px solid #DDDDDD;
            display: block;
            font-size: 1.0em;
            text-align: center;
        }

        table.unify td::before {
            /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table.unify td:last-child {
            border-bottom: 0;
        }
    }
}

.ellipsis {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.swal2-toast .swal2-title {
    text-align: start !important;
}

/* TOP ALERT */
.top-alert-container {
    z-index: 1101;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.top-alert {
    display: flex;
    height: 125px;
    background: #FFF;
    margin: 0;
    border: none;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 3px 60px #00000036;
    max-width: 500px;
}

.top-alert-action {
    color: #F41C1C !important;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px
}

.top-alert-action:after {
    content: '\f9ff';
    font-family: "sirius-font";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    position: relative;
    padding-left: 5px;
    transition: 0.5s;
    -webkit-text-stroke: 1.45px #F41C1C;
}

.top-alert-action:hover {
    color: #C30909 !important;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.top-alert-action:hover:after {
    color: #C30909 !important;
    -webkit-text-stroke: 1.45px #C30909;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3ms;
}

.top-alert-message {
    color: #717171;
    font-size: 17px
}

.top-alert-message-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-alert-close i {
    color: #C1C1C1 !important;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    right: 20px;
}

.top-alert-img {
    height: 90px;
}

/* END - TOP ALERT */

.modal-sidebar {
    width: 500px;
}

@media (max-width: 500px) {
    .modal-sidebar {
        width: 100% !important;
    }
}

a.label {
    color: #76838F !important;
}

.powerzap_open_button_iframe {
    bottom: 30px !important;
}
.site-menubar-fold .page {
    padding-bottom: 25px;
}
@media (max-width: 968px) {
    .site-menubar-fold .page {
        margin-bottom: 100px;
    }

    .powerzap_open_button_iframe {
        bottom: 5px !important;
    }
}

@media (max-width: 768px) {
    .margin-chat-pagination {
        margin-bottom: 90px;
    }
}

/**
 * Menu implementation
 */
.site-menu {
    padding-bottom: 100px !important;
}

.site-menubar-hover .site-menubar {
    overflow-y: auto;
}

.site-menubar-fold .site-menu-title {
    width: 20px;
}

.site-menubar-unfold .site-menu-title,
.site-menubar-hover .site-menu-title {
    width: 100%;
}

.site-menubar:not(.mm-menu) .site-menu-item .site-menu-sub {
    display: none;
    max-height: 0;
    opacity: 0;
    transition: all ease .75s;
}

.site-menubar:not(.mm-menu) .site-menu-item.active .site-menu-sub {
    display: block;
    opacity: 1;
    max-height: 100vh;
    transition: all ease .75s;
}

.site-menubar:not(.mm-menu) .site-menu-item .site-menu-arrow {
    transition: transform 0.5s
}

.site-menubar:not(.mm-menu) .site-menu-item.active .site-menu-arrow {
    transform: rotateY(0deg) rotate(90deg);
    transition: transform 0.5s;
}

@media (max-width: 968px) {
    .site-menubar-open .site-menubar {
        overflow-y: auto;
    }

    .site-menubar-fold .page, .site-menubar-fold .site-footer {
        transition: all .25s;
    }
}

@media (max-width: 767px) {
    .site-menubar-fold .page, .site-menubar-fold .site-footer {
        margin-left: 0px;
    }
}

.ajax-loader {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1101;
    text-align: center;
}

.ajax-loader img {
    position: relative;
    top: 37%;
}

.ajax-loader span {
    position: fixed;
    top: 55%;
    width: 100%;
    right: 0;
    font-size: 18px;
    font-weight: bolder;
    background: linear-gradient(74deg, #E6774C, #F17227);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-menu-item.has-sub > a, .site-menu-item > .site-menu-sub > li {
    margin-bottom: 5px;
    padding-left: 0 !important;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.site-menu-item:hover > a > span:first-child {
    border-radius: 0 44px 44px 0;
    display: inline-block;
    margin-right: 10px;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.site-menu-item:hover > a > span > img {
    filter: brightness(0) invert(1);
}

.menu-active {
    border-image-slice: 2;
    font-weight: 900;
    color: #fff;
    margin-right: 10px;
    background-color: rgba(255,255,255,.2);
    border-radius: 0 50px 50px 0;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-active > span {
    color: #fff;
    background: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-active > span > img {
    filter: brightness(0) invert(1);
}

.bg-menu {
    padding: 0 10px 0 15px;
}

.nav-btn {
    margin-right: 5px;
    background: transparent;
    color: #888;
    border-radius: 11px;
    border: 1px solid #D2D2D2;
    font-weight: 700;
}

.nav-btn.active {
    background-color: #2E85EC !important;
    border: 1px solid #2E85EC;
    border-radius: 11px;
    opacity: 1 !important;
    color: white !important;
}

.card {
    font-family: 'Muli', sans-serif;
    border-radius: 16px;
}

.table thead > tr > td:first-child, .table thead > tr > th:first-child {
    border-radius: 16px 0 0 0 !important;
    -webkit-border-radius: 16px 0 0 0 !important;
    -moz-border-radius: 16px 0 0 0 !important;
}

.table thead > tr > td:last-child, .table thead > tr > th:last-child {

    border-radius: 0 16px 0 0 !important;
    -webkit-border-radius: 0 16px 0 0 !important;
    -moz-border-radius: 0 16px 0 0 !important;
}

.table thead > tr > td, .table thead > tr > th {
    background-color: #FBFBFB;
    /* padding: 20px 0 20px 20px !important; */
    color: #002654;
}

.table thead > tr > td:last-child, .table thead > tr > th:last-child {
    padding-right: 20px !important;
}

.bold {
    font-weight: bold;
}

.nowarp {
    white-space: nowrap;
}

.table {
    background-color: #FFF;
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
}

.sirius-radius {
    border-radius: 16px !important;
    -webkit-border-radius: 16px !important;
    -moz-border-radius: 16px !important;
}

.bg-gray {
    background: #F6F6F6;
}

.s-border-right {
    display: block;
    z-index: 2;
    height: 100%;
    background-color: #2E85EC;
    border-radius: 0 16px 16px 0;
    width: 10px;
    position: absolute;
    left: calc(100% - 10px);
    top: 0;
}

.s-border-left {
    display: block;
    z-index: 2;
    height: 100%;
    border-radius: 0 16px 16px 0;
    width: 10px;
    position: absolute;
    right: calc(100% - 10px);
    top: 0;
}

.s-border-top {
    display: block;
    z-index: 2;
    width: 100%;
    border-radius: 0 0 16px 16px;
    height: 10px;
    position: absolute;
    bottom: 100%;
}

.s-border-bottom {
    display: block;
    z-index: 2;
    width: 100%;
    border-radius: 16px 16px 0 0;
    height: 10px;
    position: absolute;
    top: 100%;
}

.red.s-border-right, .red.s-border-left, .red.s-border-top, .red.s-border-bottom {
    background: #F41C1C !important;
}

.blue.s-border-right, .blue.s-border-left, .blue.s-border-top, .blue.s-border-bottom {
    background: #2E85EC !important;
}

.yellow.s-border-right, .yellow.s-border-left, .yellow.s-border-top, .yellow.s-border-bottom {
    background: #FFB400 !important;
}

.green.s-border-right, .green.s-border-left, .green.s-border-top, .green.s-border-bottom {
    background: #41DC8F !important;
}

.purple.s-border-right, .purple.s-border-left, .purple.s-border-top, .purple.s-border-bottom {
    background: #5D2FEA !important;
}

.s-btn {
    background-color: #FFFFFF;
    border: 2px solid #2626264D;
    font: normal normal bold 24px/30px Muli;
    padding: 15px 40px;
    color: #8A8A8A;
}

.s-btn:hover, .btn-confirmation:hover {
    background-color: #21B56B !important;
    border-color: #21B56B;
}

.s-btn-border {
    border-radius: 12px;
}

.green.s-btn {
    background-color: #5FE2A1;
    border: 2px solid #26262633;
    color: #FFF;
}

.btn-config, .btn.btn-floating.btn-primary {
    border-radius: 30px !important;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child) {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

/*Ajustes Select2*/
.select2-search__field {
    min-width: 104px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    max-width: 100% !important;
}

#notification-amount {
    padding: 5px 5px !important
}

.s-border-radius {
    border-radius: 16px;
}
.panel-custom-product{
    background: #F8F8F8;
    border-radius: 8px !important;
}
.panel-custom-product .panel-group{
    box-shadow: none !important;
}

img.border-icon{
    background: #FFFFFF;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    padding: 20%;
}

.py-13{
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}
.py-11{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
    color: inherit !important;
}

#form-update-plan .nav-tabs .nav-link:not(.active) {border-bottom-color: #c3c3c3;}
#form-update-plan .nav-tabs .nav-link {background-color: #ffffff;}
#form-update-plan .nav-tabs .nav-link:not(.active) {margin: 0 !important;}
#modal_add_plan .btn-plus{margin-top: 28px;padding-top: 10px;padding-bottom: 10px;}
#modal_add_plan .btn-active{background-color: #2E85EC;color:white;border: 1px solid #2E85EC;}
#modal_add_plan .btn-active svg path{fill:#ffffff;}
#modal_add_plan .btn-edit{background-color: #F4F4F4; border:1px solid #f4f4f4;}
#modal_add_plan .btn-edit svg path{fill:#2E85EC;}
#modal_add_plan .btn-edit-row{background-color: #2E85EC;color:white;border: 1px solid #2E85EC;}
#modal_add_plan .btn-edit-row svg path{fill:#2E85EC;}
#modal_add_plan .modal-footer{justify-content:center;}
#modal_add_plan .btn-update-config-custom{background-color: #2E85EC;color:white;border: 1px solid #2E85EC;}
#modal_add_plan .btn-update-config-custom:hover{background-color: #2E85EC;border: 1px solid #2E85EC;}
#modal_add_plan .mb-4p{margin-bottom: 4%;}
#modal_add_plan .mt-15{margin-top: 15px;}
#modal_add_plan .pl-10{padding-left: 10px;}
#modal_add_plan #form-update-plan .nav-link{font-size: 16px !important;}
#modal_add_plan .btnDelete[readonly] span{color:#333333; -webkit-text-stroke: 0.6px #333333;}
#modal_add_plan .btnDelete[readonly]{border-color: #6c757d;}
#modal_add_plan .form-control:disabled, .form-control[readonly] {background-color: #F4F4F4;}
#modal_add_plan .remove-custom-product{height: 43px;}
#modal_add_plan .border-light-gray{border:1px solid #f4f4f4; background-color:#f4f4f4; height: 44px;}
#modal_add_plan .btn-outline-secondary{height: 44px;border:1px solid #C4C4C4;}
#modal_add_plan .btn-plus{color: #41DC8F;background-color: transparent;border-color: #41DC8F;}
#modal_add_plan .btn-plus:disabled{color: #333333;background-color: transparent;border-color: #333333;}
#modal_add_plan .btn-plus:disabled svg path{stroke:#333333;}
#modal_add_plan .btn-plus:hover{background-color:transparent;}
#modal_add_plan .modal-content{border-radius: 12px;}
#modal_add_plan #custom_products img{ border-radius: 8px;border: 1px solid #C4C4C4;}
#modal_add_plan #custom_products .img-preview{width:47px;height:45px;float:left;background:url(/modules/global/img/produto.svg) no-repeat center center;
    background-size:contain; border-radius: 8px; margin-right: 10px;}
#modal_add_plan #modal-add-plan-body .nav-tabs .nav-link:not(.active) {margin: 0px !important;}
#modal_add_plan #modal-add-plan-body .nav-tabs .nav-link {margin: 0px !important;}
#modal_add_plan .edit-input{background-color: #F4F4F4;}
#modal_add_plan .edit-input:focus{background-color: #FFFFFF;}

/* new layout */

.new-layout .gray:hover{
    color:#a1a1a1 !important;
}

.new-layout a o-arrow-right {
    color: inherit;
}

.new-layout #card-integration-data .card .title {
    font-size: 16px;
    font-weight: 400;
}
.new-layout #card-integration-data .card .number {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    color: #5D5D5D;
}

.new-layout #content-script .input-group .input-group-text {
    font-size: 16px;
    font-weight: 700;
    border-color: #2E85EC;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.new-layout #content-script .input-group .form-control[readonly] {
    background-color: #ffffff;
    border-color: #ffffff;
    border-right: 1px solid #F4F4F4;
    font-size: 16px;
}
.new-layout #content-script .input-group .btn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #3D4456;
}
.new-layout #content-script .input-group .btn:hover {
    color: inherit;
}

.new-layout .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: transparent !important;
}

.new-layout .table td {
    padding: 18px 25px !important;
}
.new-layout .table thead > tr > td {
    padding: 25px !important;
}

.new-layout .table tbody > tr > td:first-child {
    border-radius: 0 0 0 12px !important;
    -webkit-border-radius: 0 0 0 12px !important;
    -moz-border-radius: 0 0 0 12px !important;
}
.new-layout .table tbody > tr > td:last-child {
    border-radius: 0 0 12px 0 !important;
    -webkit-border-radius: 0 0 12px 0 !important;
    -moz-border-radius: 0 0 12px 0 !important;
}
.new-layout .table thead > tr > td:first-child, .new-layout .table thead > tr > th:first-child {
    border-radius: 12px 0 0 0 !important;
    -webkit-border-radius: 12px 0 0 0 !important;
    -moz-border-radius: 12px 0 0 0 !important;
}
.new-layout .table thead > tr > td:last-child, .new-layout .table thead > tr > th:last-child {
    border-radius: 0 12px 0 0 !important;
    -webkit-border-radius: 0 12px 0 0 !important;
    -moz-border-radius: 0 12px 0 0 !important;
}

.new-layout .table td .description {
    font-size: 16px;
    font-weight: 700;
    color: #5D5D5D;
    margin: 0;
}
.new-layout .table td small {
    font-size: 12px;
    font-weight: 400;
    color: #B9B9B9;
}
.new-layout .table td .input-group .form-control:not(:last-child) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 16px;
}
.new-layout .table td .input-group .form-control {
    border-color: #CECECE;
}
.new-layout .table td .input-group .btn {
    border: 1px solid #CECECE;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: #3D4456;
}
.new-layout .table td .input-group .btn:hover {
    color: inherit;
}
.new-layout td .badge {
    font-size: 14px;
    padding: 10px 24px;
}
.new-layout td .badge.badge-personal {
    background-color: #9E00D6;
}
.new-layout td .badge.badge-warning {
    background-color: #FF9900;
}

.new-layout .table td .btn.pointer {
    padding-left: .5rem;
    padding-right: .5rem;
}

.new-layout .btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none !important;
}

.new-layout .card {
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .new-layout #content-script .input-group-prepend {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }
    .new-layout #content-script .input-group-prepend .input-group-text {
        border-radius: 8px;
    }
    .new-layout #content-script .form-control {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}

.modal-new-layout .modal-content {
    border-radius: 12px;
}
.modal-new-layout .form-control-lg {
    font-size: 16px;
    border-radius: 8px;
    border-color: #c4c4c4;
    height: 3.2876666667rem !important;
}
.modal-new-layout .modal-header {
    text-align: center;
}
.modal-new-layout .modal-header .modal-title {
    font-size: 22px;
}
.modal-new-layout .modal-header .close {
    line-height: 28px;
}
.modal-new-layout .modal-body {
    padding: 24px !important;
}
.modal-new-layout .modal-footer {
    justify-content: center;
}
.modal-new-layout select.form-control {
    padding: .429rem 1rem !important;
}

.modal-new-layout .modal-header {
    padding: 20px 30px;
}
.modal-new-layout .modal-body {
    padding: 30px !important;
}
.modal-new-layout .modal-footer {
    padding: 0px 30px 30px !important;
}

.modal-plans .modal-dialog {
    max-width: 690px;
}
.modal-plans .box-stage {
    -ms-flex: 1 1 auto!important;
    flex: 1 1 auto!important;
}
.modal-plans .box-stage div {
    width: auto;
}
.modal-plans .box-stage .icon {
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 32px;
    background: #EDEDED;
    border-radius: 50%;
}
.modal-plans .box-stage.products .icon img {
    width: 12px;
    height: auto;
}
.modal-plans .box-stage.costs .icon img {
    width: 8px;
    height: auto;
}
.modal-plans .box-stage.informations .icon img {
    width: 17px;
    height: auto;
}
.modal-plans .box-stage .icon img {
    max-width: 100%;
}
.modal-plans .box-stage.products .icon {
    background: #D2E7FF;
}
.modal-plans .box-stage .title {
    font-size: 16px;
    line-height: 20px;
    color: #636363;
    letter-spacing: 0;
    margin: 0;
}
.modal-plans .box-stage .line hr {
    width: 65px;
    border-color: #c4c4c4;
}

.modal-plans label {
    font-weight: bold;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    color: #636363;
}

.modal-plans .box-product {
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 12px;
}
.modal-plans .box-product.selected {
    background: #EFF6FF;
    border: 1px solid #2E85EC;
}
.modal-plans .box-product.review {
    background: #F4F4F4;
    border: 1px solid #F4F4F4;
}

.modal-plans .box-product img {
    width: 56px;
    height: 56px;
    border-radius: 8px;
}
.modal-plans .box-product .title {
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #636363;
    margin: 0 0 5px 0;
}
.modal-plans .box-product .description {
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    color: #9B9B9B;
    margin: 0;
}
.modal-plans .box-product .check {
    width: 19px;
    height: 19px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 50%;
}

.modal-plans .modal-footer .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 12px 32px;
}
.modal-plans .modal-footer .btn-default {
    color: #636363;
}
.modal-plans .modal-footer .btn-primary {
    border: 1px solid #2E85EC;
}
.table td {
    padding: 18px !important;
}
tbody td{
    font-size:14px;
}

.badge-partially-liquidating {
    background-color: #0D2C54;
}
/* badge config global */
.badge{
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
    font-weight: 700;
}

.sirius-select-container {
    position: relative;
    width: 285px;
}

.sirius-select-container .sirius-select-text {
    width: 100%;
    padding: 10px 35px 12px 16px;
    background-color: #FFFFFF;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjNjM2MzYzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC43ODEgMS4yMjUgNi4wMjggNS43OWEuNzY5Ljc2OSAwIDAgMS0xLjA1NiAwTC4yMTkgMS4yMjVhLjY5Ny42OTcgMCAwIDEgMC0xLjAxNS43NjkuNzY5IDAgMCAxIDEuMDU2IDBMNS41IDQuMjY4IDkuNzI1LjIxYS43NjkuNzY5IDAgMCAxIDEuMDU2IDAgLjY5Ny42OTcgMCAwIDEgMCAxLjAxNVoiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-position: 95% center;
    border: 1px solid #e0e7ee;
    border-radius: 8px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.sirius-select-container .sirius-select-text:hover {
    border: 1px solid #cad1d8;
}

.sirius-select-container .sirius-select-text.active,
.sirius-select-container .sirius-select-text:active {
    border: 1px solid #88bfff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI2IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSIjNjM2MzYzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0uMjE5IDQuNzc1IDQuOTcyLjIxYS43NjkuNzY5IDAgMCAxIDEuMDU2IDBsNC43NTMgNC41NjVhLjY5Ny42OTcgMCAwIDEgMCAxLjAxNS43NjkuNzY5IDAgMCAxLTEuMDU2IDBMNS41IDEuNzMyIDEuMjc1IDUuNzlhLjc2OS43NjkgMCAwIDEtMS4wNTYgMCAuNjk3LjY5NyAwIDAgMSAwLTEuMDE1WiIgY2xpcC1ydWxlPSJldmVub2RkIi8+PC9zdmc+Cg==)
}

.sirius-select-container .sirius-select-options {
    display: none;
    position: absolute;
    top: 55px;
    width: 100%;
    max-height: 185px;
    background: #FFFFFF;
    border: 1px solid #DEE2E6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    font-size: 16px;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 1;
}

.sirius-select-container .sirius-select-options::-webkit-scrollbar {
    width: 0;
}

.sirius-select-container .sirius-select-options div {
    padding: 16px;
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.sirius-select-container .sirius-select-options div:hover {
    background: #F6F7F9;
}
