body {
    font-family: 'Muli', sans-serif !important;
}

.card-desc {
    margin-left: 10px;
}


.green {
    fill: linear-gradient(to right, rgba(63, 218, 88, 1), rgb(81, 236, 195));
}


.card-header svg {
    float: left;
    position: relative;

}

.moeda {
    font-size: 18px;
    line-height: 1.06;
    letter-spacing: normal;
    color: black;
    margin-right: 15px;
}

.indices {
    margin-bottom: 25px;
}


.card-p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: black;
}


.text-money {
    font-family: Muli;
    font-size: 32px;
    color: black;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.82;
    letter-spacing: 1px;
}

.card-bottom {

    height: 10px;
    background-image: linear-gradient(to right, rgb(15, 4, 41), #000011);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.card-bottom.green {
    background-image: linear-gradient(to right, rgba(63, 218, 88, 1), #51ecc3);
}

.card-bottom.blue {
    background-image: linear-gradient(to right, rgb(88, 73, 226), rgb(81, 196, 236));
}

.card-bottom.orange {
    background-image: linear-gradient(to right, rgb(250, 217, 97), rgb(247, 107, 28));
}

.card-bottom.red {
    background-image: linear-gradient(to right, rgb(247, 107, 28), rgb(255, 97, 97));
}

.card-bottom.orangered {
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.orange-gradient {
    background: -webkit-linear-gradient(rgb(250, 217, 97), rgb(247, 107, 28));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green-gradient {
    background: -webkit-linear-gradient(rgba(63, 218, 88, 1), #51ecc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.drop-empresas {
    min-height: 140px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.drop-empresas.dz-message {
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

/* Progressbar */

.circle {
    display: inline-block;
    position: relative;
}

.circle strong {
    width: 100%;
    color: #000;
    font-size: 32px;
}

.circle strong.loaded{
    position: absolute;
    top: 62px;
    left: 0;
}

.release-progress {
    display: inline-block;
    position: relative;
    height: 55px;
}

.release-progress strong {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    color: #000;
    text-align: center;
}
/* END - Progressbar */
