*:focus,
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}

body {
    overflow-x: hidden;
}

.page-content {
    padding-bottom: 0;
}

.popover {
    left: -50px !important;
}

.disableFields {
    background-color: #f3f7f9;
    opacity: 1;
}

.badge-info{
    background: #2E85EC;
    border-radius: 36px;
    font-weight:900;
}
.btn-saque{
    background: #1BE4A8;
    border-radius: 8px;
    color: #f3f7f9;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 32px;
}
.btn-saque:hover{
    color: #f3f7f9;
}
.circle{
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 8px;
}
.circle-green{
    background: #1BE4A8;
}
.circle-orange{
    background: #FF7A00;
}
.circle-red{
    background: #FF003D;
}
.circle-blue{
    background: #2E85EC;
}
.fa-eye-slash{
    color: #2E85EC
}
.font-size-32{
    font-size: 32px;
}
.badge-orange{
    background-color: #FF7A00
}
.owl-carousel .owl-nav [class*=owl-]:before{
    color: #636363;
    font-size: 15px !important;
}
.owl-next, .owl-prev {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.owl-carousel .owl-nav .owl-next:active{
    border: 1px solid #2E85EC;
}
.owl-carousel .owl-nav .owl-next:active:before{
    color: #2E85EC;
}
.owl-carousel .owl-nav .owl-next:hover:before{
    color: #2E85EC;
    border:0;
}
.owl-carousel .owl-nav .owl-next:disabled{
    background: #E3E3E3;
}
.owl-carousel .owl-nav .owl-next:disabled:before{
    color: #929292;
}
.owl-carousel .owl-nav .owl-prev:active{
    border: 1px solid #2E85EC;
}
.owl-carousel .owl-nav .owl-prev:active:before{
    color: #2E85EC;
}
.owl-carousel .owl-nav .owl-prev:hover:before{
    color: #2E85EC;
    border:0;
}
.owl-carousel .owl-nav .owl-prev:disabled:before{
    background: #E3E3E3;
}
.owl-carousel .owl-nav .owl-prev:disabled:before{
    color: #929292;
    background: #E3E3E3;
}
.owl-carousel .owl-nav .owl-next{
    background: #FFFFFF;
    right: -35px !important;
    border: none;
    opacity: unset;
}
.owl-carousel .owl-nav .owl-prev{
    left: -35px !important;
    border: none;
    background: #FFFFFF;
    opacity: unset;
}
.owl-carousel .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: unset;
    background: #E3E3E3;
}
.owl-carousel .owl-prev.disabled::before,
.owl-carousel .owl-next.disabled::before{
    color: #929292;
}
.owl-carousel .owl-prev::before,
.owl-carousel .owl-prev.disabled::before {
    margin-right: 2.5px
}
.owl-carousel .owl-next::before,
.owl-carousel .owl-next.disabled::before {
    margin-left: 2.5px
}
.owl-carousel .prev-slide{
    background: url(nav-icon.png) no-repeat scroll 0 0;
    left: -33px;
}
.owl-carousel .next-slide{
    background: url(nav-icon.png) no-repeat scroll -24px 0px;
    right: -33px;
}
.owl-carousel .prev-slide:hover{
    background-position: 0px -53px;
}
.owl-carousel .next-slide:hover{
    background-position: -24px -53px;
}
.hide-withdraw {
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #FFFFFF), color-stop(182.5%, rgba(244, 244, 244, 0)));
    background: -o-linear-gradient(left, #FFFFFF 10%, rgba(244, 244, 244, 0) 182.5%);
    background: linear-gradient(90deg, #FFFFFF 10%, rgba(244, 244, 244, 0) 182.5%);
    border-radius: 60px;
}
.flex-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
}
/* configuração do skeleton */
.card,.card-skeleton{
    min-height: 460px;
}
.skeleton{
    opacity: .7;
    linear-gradient(#000 0 0) top         /100% 70%,
    linear-gradient(#000 0 0) bottom right/70% 20%,
    radial-gradient(circle closest-side,#000 90%,#0000) bottom left/25% 25%;
    -webkit-mask-repeat:no-repeat;
    background:linear-gradient(90deg,#ECECEC 40%,#FFFA ,#ECECEC 60%) right/300% 100% ;
    animation: m 1s linear infinite;
}
.skeleton-circle{
    height: 10px;
    width: 10px;
    margin-right: 8px;
    border-radius: 50%;
}
.skeleton-text{
    height: 32px;
    margin-bottom: 15px;
    border-radius: 20px;
}
.skeleton-gateway-logo{
    height: 34px;
    border-radius: 8px;
}
.skeleton-button{
    margin-bottom: 13px;
    width: 100%;
    height:55px;
    border-radius:8px;
}

.asScrollable-container {
    width: 110% !important
}
@-webkit-keyframes m {
    to {background-position:left;}
}
@keyframes m {
    to {background-position:left;}
}
#empty-history{
    display:none;
    height:335px;
}

.list-linear-gradient-top{
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(transparent));
    background: -o-linear-gradient(top, white, transparent);
    background: linear-gradient(to bottom, white, transparent);
    background: -webkit-linear-gradient(to bottom, white, transparent);
    height: 15px;
    margin-bottom: -15px;
    z-index: 1;
    position: relative;
}
.list-linear-gradient-bottom{
    background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(rgba(255, 255, 255, 0.8)), to(transparent));
    background: -o-linear-gradient(bottom, white, rgba(255, 255, 255, 0.8), transparent);
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0.8), transparent);
    background: -webkit-linear-gradient(to top, white, rgba(255, 255, 255, 0.8), transparent);
    height: 30px;
    margin-top: -30px;
    z-index: 1;
    position: relative;
}

.color-default {
    color: #636363;
}

.btn-default {
    border: 1px solid transparent;
}

#btn-config-all {
    border-radius: 12px;
    border-color: transparent;
    background-color: #FFF !important;
    padding: 10px 12px;
}

.active-outline svg {
    filter: invert(33%)
            sepia(64%)
            saturate(1981%)
            hue-rotate(199deg)
            brightness(102%)
            contrast(107%);
}

.new-badge {
    font-weight: 900;
    font-size: 14px;
    padding: 8px 16px
}

.new-title {
    font-size: 16px;
    color: #9E9E9E;
    font-weight: 400;
    margin-left: 8px;
}

#container-available, #container-return {
    min-height: 73px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.back-button::before {
    transform: rotate(180deg);
}

.redirect::before {
    color: #107DFF;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
}
.default-hover:hover {
    color: #2E85EC;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.radio-badge {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 8px;
    display: inline-block;
}
.radio-badge.green {
    background-color: #1BE4A8;
}
.radio-badge.orange {
    background-color: #FF7A00;
}
.radio-badge.red {
    background-color: #FF003D;
}
.radio-badge.blue {
    background-color: #2E85EC;
}
.card-gateway h4 {
    margin-top:3px;
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 18px;
    margin-bottom:18px;
}

.card-gateway h6 + h4 {
    color: #636363;
}

.card-gateway h4:last-child {
    border: none;
    padding-bottom:  0;
    margin-bottom: 0;
}

.btn-outline-success {
    color: #1BE4A8;
    border: 1px solid #1BE4A8;
    padding: 12px 32px;
    border-radius: 8px;
}

.btn-outline-success:hover {
    background: #1BE4A8;
}
.o-angle-down-1 {
    color: #636363;
    font-size: 30px;
}
.o-angle-down-1:before {
    font-weight: bold;
}

.o-angle-down-1:hover {
    color: #636363;
}
.input-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.overflow-bank-name {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px;
    line-height: 13px;
    color: #A7A7A7;
}
.date-label {
    white-space: nowrap;
    font-size: 10px;
    line-height: 13px;
    color: #A7A7A7;
}
.money-label {
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    color: #636363;
}
.bg-light {
    background-color: white !important;
}
.bg-light, .bg-lighter {
    border: 1px solid transparent;
}

.bg-lighter {
    border-color: #BBB
}

.active-outline{
    border: 1px solid #2E85EC !important;
}

.active-outline .o-gear-1 {
    color: #2E85EC;
}
.slider.round:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#gateway-redirection{
    color: #107DFF;
    background-color: #F1F1F1;
    padding: 3px 10px;
    border-radius: 20px;
    border: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    cursor: pointer;
}

#gateway-redirection i::before {
    background-color: transparent !important;
}

#gateway-redirection:hover, #gateway-redirection:hover i::before {
    color: #FFF;
    background-color: #107DFF;
}

#gateway-redirection span {
    font-weight: bold;
    max-width: 0;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: max-width 1s;
    -o-transition: max-width 1s;
    transition: max-width 1s;
}
#gateway-redirection:hover span {
    max-width: 7rem;
}
span.font-size-16 {
    color: #9E9E9E;
}
.btn-cancel {
    font-weight: bold;
    border-radius: 8px;
    color: #636363;
    margin-top: 5px;
    height: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 32px;
}

.btn-cancel:hover{
    color: #FF003D;
    border:1px solid #FF003D;
}

.input-group-text{
    background: #F1F1F1;
    color: #636363;
}
hr{
    margin: 0;
}
.menu-active span:first-child {
    padding: 11px 10px 10px 15px;
}
.menu-active span:first-child {
    padding: 11px 10px 10px 15px;
}
#container-withdraw .row.mx-0:nth-child(even), #skeleton-withdrawal2 {
    background-color: #F6F7F9;
}

#skeleton-withdrawal2 .skeleton {
    background: -webkit-gradient(linear, left top, right top, color-stop(40%, #FFF), color-stop(#ECECEC), color-stop(60%, #FFF)) right/300% 100%;
    background: -o-linear-gradient(left, #FFF 40%, #ECECEC, #FFF 60%) right/300% 100%;
    background: linear-gradient(90deg, #FFF 40%, #ECECEC, #FFF 60%) right/300% 100%;
}

.owl-dot {
    border-radius: 15px;
    padding: 7px;
    border: none;
    background: #C4C4C4;
}

.owl-dots {
    margin-top: 0 !important;
}

.owl-dot.active {
    background-color: #2E85EC;
}
.input-group-text, [id*=withdrawal-value-] {
    padding: 10px 14px;
    border: 1px solid #C4C4C4;
}
.input-group-text {
    height: 100%;
    border-radius: 8px 0 0 8px;
}
[id*=withdrawal-value-] {
    border-radius: 0 8px 8px 0;
}
.page [aria-expanded=true]:not(.btn) {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slider::before {
    left: 2px;
}
input:checked + .slider::before {
    left: -3px;
}

.total-available-balance {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#just-value-show{
    padding: 0;
}

.badge {
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    white-space: pre-line;
}
@media (max-width: 991px) {
    .new-title {
        margin-left: 0;
    }
    .badge {
        height: unset;
        padding: 8px 16px;
        border: unset;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        text-indent: unset;
        white-space: unset;
    }

    #gateway-redirection span {
        max-width: 7rem;
    }
    .card:not(div#card-history),.card-skeleton:not(div#card-history) {
        min-height: 150px;
    }

    .card-gateway h6 {
        border-top: 1px solid #F4F4F4;
        margin-top:18px;
        padding-top:18px;
        margin-bottom: 0;
    }

    [id*=container_info_] > h6:nth-child(2), [id*=container_info_] > h4:nth-child(3) {
        border-color: transparent;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }

    [id*=container_info_] > h4:nth-child(3) {
        padding-bottom: 18px;
    }

    .card-gateway h4 {
        margin-top: 0;
        border-bottom: none;
        padding-bottom: 0;
    }

    .card-gateway h4:last-child {
        margin-bottom: 18px;
    }
}
