*:focus,
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none !important;
}

.price-holder.antecipacao {
    cursor: pointer;
}

.custom-popover {
    position: absolute;
    z-index: 999;
    background: #eeeeee;
    left: 200px;
    border-radius: 3px;
    width: 250px;
    padding: 20px 15px;
    top: -130%;
}

.custom-popover:after, .custom-popover:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.custom-popover:after {
    border-color: rgba(214, 214, 214, 0);
    border-right-color: #eeeeee;
    border-width: 15px;
    margin-top: -30px;
}

.custom-popover:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: transparent;
    border-width: 36px;
    margin-top: -36px;
}


.text-filtros {
    font-size: 16px;
    font-weight: 700;
    color: #ee5261 !important;
    cursor: pointer;
}

.icon-filtro {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: #ee5261;
}

.fix-m {
    margin-bottom: 0 !important;
}

.input-group-text {
    background-color: transparent;
}

.card {
    border: none;
}

.title-pad {
    margin: 0;
    line-height: 1.5;
    font-size: 22px;
    color: #636363;
}

.label-price {
    font-size: 14px;
    margin: 0;
    color: #70707E;
}

.price {
    font-size: 20px;
    display: inline;
}

.link-antecipar {
    font-size: 12px;
    margin: 0;
    color: purple;
    margin-left: 5px;
    padding-top: 5px;

}

.svg-antecipar {
    margin-top: -5px;
    fill: #8E2DE2;
    width: 18px;
    height: 18px;
}

.fix-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.grad-border {
    width: 35%;
    margin-top: 5px;
    height: 2px;
    border-radius: 10px;
}

.grad-border.red {
    background-image: linear-gradient(to right, rgb(255, 92, 92), rgb(255, 128, 80));
}

.grad-border.purple {
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.grad-border.blue {
    background-image: linear-gradient(to right, rgb(88, 73, 226), rgb(81, 196, 236));
}

.grad-border.green {
    background-image: linear-gradient(to right, rgba(63, 218, 88, 1), #51ecc3);
}


.sub-pad {
    font-size: 12px;
    color: #aaa;
    color: #9E9E9E;
}


.wrap {
    padding: 30px;
}

.custom-t-body {
    color: #585858;
}

.badge {
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    white-space: pre-line;

    color: white;
    padding: 5px 15px;
    border-radius: 16px;
    font-weight: 700;
}

.badge.badge-success {
    background-color: #5EE2A1;
}

.badge.badge-warning {
    background-color: #FFB400;
}

.badge.badge-danger {
    background-color: #F41C1C;
}

.btn-sacar {
    background-color: #41DC8F;
    border-radius: 6px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    font-weight: bold;
}

.badge-pendente {
    background: rgb(255, 157, 0);
}

.badge-withdrawal {
    background: yellow;
    color: #0a0a0a;
}

.badge-antifraude {
    background: rgb(22, 142, 209);
}

.badge-aprovado {
    background: #44a44b;
}

.money-td {
    color: black;
    font-weight: 700;
}

.money-td.entrada {
    color: #44a44b;
}

.money-td.saida {
    color: #cb4a2d;
}

.nav-link {
    font-size: 14px !important;
    border-radius: 8px 8px 0 0 !important;
    padding: 15px;
}

.nav-btn {
    margin-right: 5px !important;
    background: #FFF;
    color: #3D4456;
    border-radius: 11px !important;
    border: 1px solid #D2D2D2 !important;
    font-weight: normal !important;
}

.nav-btn.active {
    background: #FFF !important;
    border: 1px solid #2E85EC !important;
    border-radius: 11px;
    opacity: 1 !important;
    color: #2E85EC !important;
    font-weight: 700 !important;
}


.fill-red {
    fill: #cb4a2d;
}

.modal-content-style {
    border-radius: 20px 20px 0px 0px;
}

.modal-title-withdrawal {
    background-color: transparent;
    border-radius: 8px 8px 0 0;
    padding: 16px;
}
.modal-title-withdrawal h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    color: #484848;
}
.modal-title-withdrawal.debit-pending h3{
    color: #FF003D;
}

#text-title-debit-pending, #text-title-withdrawal-custom {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #747474;
    padding: 0 10px
}

#text-description-debit-pending, #text-description-withdrawal-custom {
    font-size: 12px;
    line-height: 15px;
    color: #959595;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#text-description-debit-pending {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
#text-description-withdrawal-custom small {
    display: block;
    margin-top: 10px
}

#debit-items p{
    font-size: 14px;
    line-height: 18px;
    color: #636363;
    margin: 0;
}
#debit-items span {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    margin: 0;
}

.modal-content-style {
    border-radius: 8px;
}

#modal-withdrawal-custom-footer {
    border-top: 1px solid #EDEDED;
    padding-top: 25px;
    margin-top: 20px;
}
#modal-withdrawal-custom-footer .btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 8px;
}

#more-than-on-values-show .btn{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px 24px;
    border: 1px solid #959595;
    color: #959595;
}
#more-than-on-values-show .btn.green, #more-than-on-values-show .btn:hover{
    border-color: transparent;
    color: #FFF;
}
#single-value {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #29DCA7;
    margin-top: 8px;

}
#bt-cancel-withdrawal {
    background-color: #F5F5F5;
    color: #959595;
}

.disableFields {
    background-color: #f3f7f9;
    opacity: 1;
}

strong span {
    color: #57617c;
}

.nav-link.active:hover {
    background-color: #FFF !important;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.input-custom-transfer {
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid #DDD;
}

.input-custom-transfer:focus-within {
    border-color: #88BFFF;
}
#custom-input-addon{
    border-radius: 0 12px 12px 0;
    border: none !important;
    border-top:0px;
    border-right:0px;
    border-bottom:0px;
    border-left:1px solid #DDD !important;
}
#custom-input-addon:focus{
    border-left:1px solid #88BFFF !important;
}

.input-moeda {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.nav-tabs {
    border-bottom-color: transparent !important;
}

.card.shadow {
    border-radius: 0 12px 12px 12px;
}


.s-config {
    margin-left: auto !important;
    margin-right: 15px !important;
    display: flex;
    justify-content: center;
}

.nav-link {
    text-transform: none;
    font-size: 16px;
}

.nav-tabs .nav-link {
    text-transform: none;
    font-weight: bold;
    background-color: #FCFCFC;
    padding: 15px;
    color: #767676;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-tabs .nav-link:first-of-type {
    margin-left: 15px;
}

#modal_detalhes .nav-tabs .nav-link:first-of-type {
    margin-left: 0;
}

#nav-transfers-tab {
    margin-left: 0px !important;
}

.nav-tabs .nav-link {
    margin: 0 5px;
}

.nav-tabs .nav-link:hover {
    background-color: #D9D9D9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-tabs .nav-link.active {
    color: #2E85EC !important;
    border-bottom-color: #599EF0;
    background-color: #FFF !important;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

select, .select-pad {
    border-radius: 10px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#nav-settings-tab:hover > img, .nav-tabs .nav-link.active > img {
    filter: invert(54%) sepia(87%) saturate(1211%) hue-rotate(188deg) brightness(98%) contrast(93%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.page-header {
    padding: 15px 30px
}

.table td, .table {
    margin-bottom: 0
}

#modal_detalhes .nav-tabs .nav-link:not(.active) {
    width: calc(50% - 20px) !important;
}

.d-contents {
    display: contents;
}

.badge-money {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 9px 12px;
    display: inline-flex;
}

#header h6, #header .available-balance{
    color: #70707E;
}
#bt-withdrawal {
    background-color: #1BE4A8;
    border-radius: 8px;
}

.balance-resume .card-body{
    padding: 18px 24px
}

.balance-resume h5{
    margin-top: 0;
    margin-bottom: 10px
}

.balance-resume h5{
    margin-top: 0;
    margin-bottom: 6px
}

.form-group input {
    padding: 10px 35px 12px 16px
}

.title-withdrawals-table {
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    color: #636363;
}

.transfers-sale {
    color: #000;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #F4F4F4;
}

.page-title svg {
    width: auto;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.pagination-sm button {
    margin-bottom: 5px
}

.transfers-sale {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2E85EC;
}
@media (min-width: 768px) {
    .pointer-md {
        cursor: pointer !important;
        pointer-events: all !important;
        opacity: 1;
    }
}

@media (max-width: 991px) {
    .badge {
        font-size: 10px !important;
        padding: 10px 15px !important;
        border-radius: 36px !important;
        line-height: 100%;
    }
}

/*MOBILE SM*/
@media (max-width: 767px) {
    .s-table {
        display: grid;
        border: none;
        margin: 14px 0 !important;
        padding: 14px 16px !important;
        background-color: #FFF !important;
        border-radius: 8px !important;
    }

    .s-table.table-finance-schedule {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sale status"
                             "value value"
                             "date-start date-end";
    }

    .s-table.table-finance-schedule-new {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sale value"
                             "date-start date-end";
    }

    .s-table.table-finance-transfers {
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: "status sale"
                             "value value"
                             "bank bank"
                             "date-start date-end"
    }

    table.unify tr {
        border: none;
        margin: unset;
    }

    .table td {
        background-color: #FFF !important;
        margin: 0;
    }

    table.unify tr {
        padding: 0;
    }

    .table-striped tbody tr:first-child {
        border-radius: 16px 16px 0 0
    }

    .popover {
        left: -50px !important;
    }

    .table-striped tbody tr:last-child {
        border-radius: 0 0 16px 16px
    }

    .font-md-size-20 {
        font-size: 20px !important
    }

    .font-md-size-18 {
        font-size: 18px !important
    }

    .bold-mobile {
        font-weight: normal;
        font-size: 14px;
    }

    .btn-sacar {
        background: #1BE4A8;
        box-shadow: 0 1px 15px #00000017;
        border-radius: 12px;
        padding: 15px;
        font-size: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
        height: auto;
    }

    table.unify tr {
        display: grid;
        border-radius: 16px;
    }

    .text-xs-right {
        text-align: right !important;
    }

    .text-xs-left {
        text-align: left !important;
    }

    .text-xs-center {
        text-align: center !important;
    }

    .withdrawals-table, .transfersTable, .table {
        background: transparent;
    }

    .status-finance-transfers {
        text-align: left !important;
        padding: 0 !important;
        margin-right: 10px !important;
    }

    .sale-finance-transfers{
        font-size: 12px !important;
        line-height: 15px !important;
        color: #9E9E9E !important;
        padding: 0 !important;
        text-align: right !important;
        align-self: center;
    }

    .value-finance-transfers {
        padding: 0 !important;
        margin: 12px 0 !important;
    }
    .value-finance-transfers span {
        font-size: 14px !important;
        line-height: 18px;
        color: #9E9E9E;
        font-weight: normal;
    }
    .value-finance-transfers strong {
        font-size: 20px !important;
        line-height: 25px;
        color: #636363;
    }

    .bank-finance-transfers {
        padding: 0 !important;
        margin-bottom: 12px !important;
    }
    .bank-finance-transfers div {
        font-size: 14px !important;
        line-height: 18px;
    }
    .bank-finance-transfers small {
        font-size: 11px !important;
        line-height: 14px;
        display: block;
    }

    .date-start-finance-transfers,
    .date-end-finance-transfers {
        padding: 0 !important
    }
    .date-start-finance-transfers *,
    .date-end-finance-transfers * {
        display: inline;
        font-size: 12px !important;
        line-height: 15px;
        color: #9E9E9E;
    }
    .date-start-finance-transfers .bold-mobile, .date-start-finance-transfers small,
    .date-end-finance-transfers .bold-mobile, .date-end-finance-transfers small {
        color: #636363 !important
    }

    .sale-finance-schedule {
        padding: 0 !important;
        margin-right: 10px;
        margin-bottom: 12px !important;
    }
    .status-finance-schedule {
        padding: 0 !important;
    }

    .value-finance-schedule {
        padding: 0 !important;
        align-self: center;
        margin-bottom: 12px !important;
    }
    .value-finance-schedule span {
        font-size: 14px !important;
        line-height: 18px;
        color: #9E9E9E;
        font-weight: normal;
    }
    .value-finance-schedule strong {
        font-size: 20px !important;
        line-height: 25px;
    }

    .price {
        font-size: 16px;
    }

    .font-md-size-18 {
        font-size: 14px !important
    }

    .btn-light-1, .btn-primary-1, .btn-success-1 {
        font-size: 12px !important;
        flex-wrap: wrap;
    }

    .pr-xs-0, .pl-xs-0 {
        padding-left: 0 !important;
        padding-right: 5px !important;
    }

    .frequency-container .btn {
        width: 100% !important;
        margin: 2px 0 !important;
    }

    .weekdays-container .btn, .day-container .btn {
        width: 30% !important;
        margin: 2px 5px !important;
    }

    .page-title svg {
        width: 100%;
        margin-left: 0;
    }

    .card.shadow {
        border-radius: 0 0 8px 8px;
    }
    .nav-tabs .nav-link {
        margin: 0;
    }

    .page-content {
        padding: 10px !important;
    }
}

/********** Settings **********/

.bg-light {
    background-color: #e8e8e8 !important;
}

.bg-lighter {
    background-color: #f6f6f6 !important;
}

.frequency-container .btn,
.weekdays-container .btn,
.day-container .btn {
    box-sizing: border-box;

    border: 2px solid #bdbdbd;
    margin-right: 5px;
    background-color: #fff;

    color: #aaa;
    font-weight: 700;

    display: flex;
    flex-grow: 1;
    justify-content: center;

    width: calc((100% - 6 * 10px) / 7);
}

.frequency-container .btn:last-of-type,
.weekdays-container .btn:last-of-type,
.day-container .btn:last-of-type {
    margin-right: 0;
}

.frequency-container .btn.active,
.weekdays-container .btn.active,
.day-container .btn.active,
.frequency-container .btn:hover,
.weekdays-container .btn:hover,
.day-container .btn:hover {
    border: 2px solid #2e85ec;
    background: #fff;
    color: #2e85ec;
    font-weight: 700;
}

.card.no-shadow {
    box-shadow: none;
}

.card.bg-light .input-group > .input-group-prepend span,
.card.bg-light .input-group > input {
    border-color: #8693b8
}

#withdrawalsTable tr:last-of-type td:first-child {
    border-bottom-left-radius: 16px !important;
}

#withdrawalsTable tr:last-of-type td:last-child {
    border-bottom-right-radius: 16px !important;
}

.popover {
    left: -50px !important;
}

.disableFields {
    background-color: #f3f7f9;
    opacity: 1;
}

.o-arrow-right-1::before {
    transform: rotate(180deg);
}

.page-title a {
    display: flex;
    align-items: center;
    color: #404040;
}
