.price-holder.antecipacao {
    cursor: pointer;
}

.custom-popover {
    position: absolute;
    z-index: 999;
    background: #eeeeee;
    left: 200px;
    border-radius: 3px;
    width: 250px;
    padding: 20px 15px;
    top: -130%;
}

.custom-popover:after, .custom-popover:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.custom-popover:after {
    border-color: rgba(214, 214, 214, 0);
    border-right-color: #eeeeee;
    border-width: 15px;
    margin-top: -30px;
}

.custom-popover:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: transparent;
    border-width: 36px;
    margin-top: -36px;
}


.text-filtros {
    font-size: 16px;
    font-weight: 700;
    color: #ee5261 !important;
    cursor: pointer;
}

.icon-filtro {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    fill: #ee5261;
}

.fix-m {
    margin-bottom: 0 !important;
}

.input-group-text {
    background-color: transparent;
}

.card {
    border: none;
}

.title-pad {
    margin: 0;
    line-height: 1.5;
    font-size: 22px;
}

.label-price {
    font-size: 14px;
    margin: 0;
}

.price {
    font-size: 20px;
    display: inline;
}

.link-antecipar {
    font-size: 12px;
    margin: 0;
    color: purple;
    margin-left: 5px;
    padding-top: 5px;

}

.svg-antecipar {
    margin-top: -5px;
    fill: #8E2DE2;
    width: 18px;
    height: 18px;
}

.fix-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.grad-border {
    width: 35%;
    margin-top: 5px;
    height: 2px;
    border-radius: 10px;
}

.grad-border.red {
    background-image: linear-gradient(to right, rgb(255, 92, 92), rgb(255, 128, 80));
}

.grad-border.purple {
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
}

.grad-border.blue {
    background-image: linear-gradient(to right, rgb(88, 73, 226), rgb(81, 196, 236));
}

.grad-border.green {
    background-image: linear-gradient(to right, rgba(63, 218, 88, 1), #51ecc3);
}


.sub-pad {
    font-size: 12px;
    color: #aaa;
}


.wrap {
    padding: 30px;
}

.custom-t-body {
    color: #585858;
}

.badge {
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
    font-weight: 700;
}

.badge.badge-success {
    background-color: #5EE2A1;
}

.badge.badge-warning {
    background-color: #FFB400;
}

.badge.badge-danger {
    background-color: #F41C1C;
}

.btn-sacar {
    background-color: #41DC8F;
    border-radius: 6px;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.badge-pendente {
    background: rgb(255, 157, 0);
}

.badge-withdrawal {
    background: yellow;
    color: #0a0a0a;
}

.badge-antifraude {
    background: rgb(22, 142, 209);
}

.badge-aprovado {
    background: #44a44b;
}

.money-td {
    color: black;
    font-weight: 700;
}

.money-td.entrada {
    color: #44a44b;
}

.money-td.saida {
    color: #cb4a2d;
}

.nav-link {
    font-size: 12px !important;
    border-radius: 8px 8px 0 0 !important;
    padding: 15px;
}

.nav-btn {
    margin-right: 5px !important;
    background: transparent;
    color: #888;
    border-radius: 11px !important;
    border: 1px solid #D2D2D2 !important;
    font-weight: 700;
}

.nav-btn.active {
    background: #2E85EC !important;
    border: 1px solid #2E85EC !important;
    border-radius: 11px;
    opacity: 1 !important;
    color: white !important;
}


.fill-red {
    fill: #cb4a2d;
}

.modal-content-style {
    border-radius: 20px 20px 0px 0px;
}

.modal-title-withdrawal {
    background-color: #2E85EC;
    box-shadow: 0px 1px 15px #00000017;
    border-radius: 20px 20px 0px 0px;
    opacity: 1;
}

.disableFields {
    background-color: #f3f7f9;
    opacity: 1;
}

.modal-content-style {
    border-radius: 16px 16px 16px 16px;
}

.modal-title-withdrawal {
    background: #2E85EC;
    box-shadow: 0px 1px 15px #00000017;
    border-radius: 16px 16px 0px 0px;
}


strong span {
    color: #57617c;
}

.nav-link.active:hover {
    background-color: #FFF !important;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.input-custom-transfer {
    background-color: #FFF;
    border-radius: 12px;
    border: 1px solid #DDD !important;;
}

.input-moeda {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.nav-tabs {
    border-bottom-color: transparent !important;
}

.card-tabs {
    border-radius: 0 16px 16px 16px !important;
}

.card.shadow {
    border-radius: 0 12px 12px 12px;
}


.s-config {
    margin-left: auto !important;
    margin-right: 15px !important;
    display: flex;
    justify-content: center;
}

.nav-link {
    text-transform: none;
    font-size: 16px;
}

.nav-tabs .nav-link {
    text-transform: none;
    font-weight: bold;
    background-color: #D9D9D9;
    padding: 15px;
    color: #767676;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-tabs .nav-link:first-of-type {
    margin-left: 15px;
}

#modal_detalhes .nav-tabs .nav-link:first-of-type {
    margin-left: 0;
}

#nav-transfers-tab {
    margin-left: 0px !important;
}

.nav-tabs .nav-link {
    margin: 0 5px;
}

.nav-tabs .nav-link:hover {
    background-color: #E9E9E9;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-tabs .nav-link.active {
    color: #2E85EC !important;
    border-bottom-color: #599EF0;
    background-color: #FFF !important;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

select, .select-pad {
    border-radius: 10px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#nav-settings-tab:hover > img, .nav-tabs .nav-link.active > img {
    filter: invert(54%) sepia(87%) saturate(1211%) hue-rotate(188deg) brightness(98%) contrast(93%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.page-header {
    padding: 15px 30px
}

.table td, .table {
    margin-bottom: 0 !important
}

#modal_detalhes .nav-tabs .nav-link:not(.active) {
    width: calc(50% - 20px) !important;
}

.d-contents {
    display: contents;
}

@media (min-width: 768px) {
    .pointer-md {
        cursor: pointer !important;
        pointer-events: all !important;
        opacity: 1;
    }
}

@media (max-width: 991px) {
    .badge {
        width: 10px;
        height: 10px;

        padding: .5rem;

        border: 2px solid white;
        box-shadow: 0 3px 6px #00000029;
        text-indent: -9999px;
        white-space: nowrap;
    }
}

/*MOBILE SM*/
@media (max-width: 767px) {
    .s-table {
        padding: 20px !important;

        display: grid;

        border: none;
        margin: unset;
    }

    .s-table.table-finance-schedule {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sale status"
                             "date value";
    }

    .s-table.table-finance-transfers {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "sale sale status"
                             "date-start date-end value"
                             "codigo codigo codigo";
    }

    table.unify tr {
        border: none;
        margin: unset;
    }

    .table td {
        margin: 0;
    }

    table.unify tr {
        padding: 0;
        background-color: #f8fbff;
    }

    .table-striped tbody tr:first-child {
        border-radius: 16px 16px 0 0
    }

    .popover {
        left: -50px !important;
    }

    .table-striped tbody tr:last-child {
        border-radius: 0 0 16px 16px
    }

    .font-md-size-20 {
        font-size: 20px !important
    }

    .font-md-size-18 {
        font-size: 18px !important
    }

    .bold-mobile {
        font-weight: normal;
        font-size: 14px;
    }

    .btn-sacar {
        box-shadow: 0 1px 15px #00000017;
        border-radius: 12px;
        padding: 15px;
        font-size: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
        height: auto;
    }

    table.unify tr {
        display: grid;
        border-radius: 16px;
    }

    .text-xs-right {
        text-align: right !important;
    }

    .text-xs-left {
        text-align: left !important;
    }

    .text-xs-center {
        text-align: center !important;
    }

    .pl-0 {
        padding-right: 5px
    }

    .pr-0 {
        padding-left: 5px
    }
}

/*MOBILE SM*/
@media (max-width: 575.98px) {
    .price {
        font-size: 16px;
    }

    .font-md-size-18 {
        font-size: 14px !important
    }

    .font-md-size-20 {
        font-size: 10px !important
    }

    .btn-light-1, .btn-primary-1, .btn-success-1 {
        font-size: 12px !important;
        flex-wrap: wrap;
    }

    .pr-xs-0, .pl-xs-0 {
        padding-left: 0 !important;
        padding-right: 5px !important;
    }

    .frequency-container .btn {
        width: 100% !important;
        margin: 2px 0 !important;
    }

    .weekdays-container .btn, .day-container .btn {
        width: 30% !important;
        margin: 2px 5px !important;
    }
}

/*MOBILE XS*/
@media (max-width: 420px) {
    .bold-mobile {
        font-size: 9px;
    }

    small.gray {
        font-size: 9px;
    }

    .font-md-size-20 {
        font-size: 9px !important
    }
}

/********** Settings **********/

.bg-light {
    background-color: #e8e8e8 !important;
}

.bg-lighter {
    background-color: #f6f6f6 !important;
}

.frequency-container .btn,
.weekdays-container .btn,
.day-container .btn {
    box-sizing: border-box;

    border: 2px solid #bdbdbd;
    margin-right: 5px;
    background-color: #fff;

    color: #aaa;
    font-weight: 700;

    display: flex;
    flex-grow: 1;
    justify-content: center;

    width: calc((100% - 6 * 10px) / 7);
}

.frequency-container .btn:last-of-type,
.weekdays-container .btn:last-of-type,
.day-container .btn:last-of-type {
    margin-right: 0;
}

.frequency-container .btn.active,
.weekdays-container .btn.active,
.day-container .btn.active,
.frequency-container .btn:hover,
.weekdays-container .btn:hover,
.day-container .btn:hover {
    border: 2px solid #2e85ec;
    background: #fff;
    color: #2e85ec;
    font-weight: 700;
}

.card.no-shadow {
    box-shadow: none;
}

.card.bg-light .input-group > .input-group-prepend span,
.card.bg-light .input-group > input {
    border-color: #8693b8
}

#withdrawalsTable tr:last-of-type td:first-child {
    border-bottom-left-radius: 16px !important;
}

#withdrawalsTable tr:last-of-type td:last-child {
    border-bottom-right-radius: 16px !important;
}
@media only screen and (min-width: 768px){
    .col-md-3.card {
        margin-right: 10px;
        max-width: calc(25% - 10px);
    }
}
@media only screen and (min-width: 576px) and (max-width : 767px){
    .col-sm-6.card {
        margin-right: 10px;
        max-width: calc(50% - 10px);
    }
}
@media only screen and (min-width: 768px){
    .col-md-4.card {
        margin-right: 10px;
        max-width: calc(33.3% - 10px);
    }
}
.popover {
    left: -50px !important;
}

.disableFields {
    background-color: #f3f7f9;
    opacity: 1;
}

.o-arrow-right-1::before {
    transform: rotate(180deg);
}

.page-title a {
    display: flex;
    align-items: center;
    color: #404040;
}

.page-title svg {
    width: auto;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
