.select3-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 440px;
    min-width: 440px;
    max-height: 470px;
    padding: 18px 18px 0 18px;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    background: #ffffff;
    font-size: 16px;
    color: #636363;
}

.select3-container select {
    visibility: hidden;
    padding: 0 !important;
    height: 0;
}

.select3-container .select3-title {
    font-weight: bold;
    color: #5a5a5a;
}

.select3-container .select3-search {
    position: relative;
    margin-bottom: 18px;
    padding: 14px 48px 14px 16px;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    background-color: #ffffff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxNyIgZmlsbD0ibm9uZSI+CiAgPHBhdGggZmlsbD0iIzY3Njc2NyIgZD0iTTExLjUgNy4wMjVhNC4zMDcgNC4zMDcgMCAwIDAtMS4zMTItMy4xNTggNC4zMDcgNC4zMDcgMCAwIDAtMy4xNjMtMS4zMTMgNC4zIDQuMyAwIDAgMC0zLjE1OCAxLjMxMyA0LjMgNC4zIDAgMCAwLTEuMzEzIDMuMTU4IDQuMzA4IDQuMzA4IDAgMCAwIDEuMzEyIDMuMTU4QTQuMyA0LjMgMCAwIDAgNy4wMjUgMTEuNWE0LjMgNC4zIDAgMCAwIDMuMTU4LTEuMzEyQTQuMzEgNC4zMSAwIDAgMCAxMS41IDcuMDI1Wm01LjEwOSA4LjNhMS4yOTUgMS4yOTUgMCAwIDEtMS43NzMgMS4xODIgMS4xODYgMS4xODYgMCAwIDEtLjQxLS4yODZsLTMuNDIyLTMuNDEzYTYuODM0IDYuODM0IDAgMCAxLTMuOTggMS4yNDJBNi45IDYuOSAwIDAgMSA0LjMgMTMuNSA2Ljg3OSA2Ljg3OSAwIDAgMSAuNTU0IDkuNzU0YTcgNyAwIDAgMSAwLTUuNDU4QTYuODc4IDYuODc4IDAgMCAxIDQuMy41NTRhNyA3IDAgMCAxIDUuNDU4IDBBNi44NzggNi44NzggMCAwIDEgMTMuNSA0LjNjLjM2OC44NjIuNTU3IDEuNzkxLjU1NCAyLjcyOWE2LjgzMyA2LjgzMyAwIDAgMS0xLjIzNyAzLjk4bDMuNDIzIDMuNDI0YTEuMjIzIDEuMjIzIDAgMCAxIC4zNi44OTRsLjAwOS0uMDAyWiIgLz4KPC9zdmc+);
    background-repeat: no-repeat;
    background-position: 96% center;
    color: #5a5a5a;
    outline: none;
}

.select3-container .select3-search:focus {
    border: 1px solid #88bfff;
}

.select3-container .select3-options-container {
    overflow-y: auto;
    margin: 0 -18px;
    scrollbar-width: none;
}

.select3-container .select3-options-container::-webkit-scrollbar {
    width: 0;
}

.select3-container .select3-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.select3-container .select3-option .select3-checkbox {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    margin-right: 14px;
    border-radius: 4px;
    border: 1px solid #dfdfdf;
}

.select3-container .select3-option:not(.multiselect).active {
    background-color: #f6f7f9;
}

.select3-container .select3-option.active .select3-checkbox {
    background-color: #2e85ec;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI5IiBmaWxsPSJub25lIj4KICA8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMi4wMSIgZD0ibTEgNSAzIDIgNS41LTYiLz4KPC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: center center;
    border-color: #2e85ec;
}

.select3-multi-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px -18px 0 -18px;
    padding: 18px;
    border-top: 2px solid #e2e2e2;
}

.select3-multi-controls .select3-uncheck {
    display: none;
    padding: 0;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    color: #636363c2;
    outline: 0;
    cursor: pointer;
}

.select3-multi-controls .select3-apply {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 122px;
    margin-left: auto;
    padding: 13px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #0094ff;
    color: #ffffff;
    outline: 0;
    cursor: pointer;
}

.select3-container .select3-searching {
    padding: 9px 0 18px 0;
    background: #fff;
}

.select3-container .select3-empty {
    padding: 9px 0 18px 0;
    background: #fff;
}

.select3-container .select3-loading {
    padding: 18px 0;
}

@media (max-width: 480px) {
    .select3-container {
        max-width: 360px;
        min-width: 360px;
    }
}

@media (max-width: 360px) {
    .select3-container {
        max-width: 320px;
        min-width: 320px;
    }
}

@media (max-width: 320px) {
    .select3-container {
        max-width: 290px;
        min-width: 290px;
    }
}
