label, h1, h4, a, a:hover, .btn-cancelar {
    color: #707070;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
}

#div_digital_product_upload > label {
    margin: 8px auto;    
}

a, 
a:hover {
    text-decoration: none;
}

.form-buttons {
    justify-content: flex-end;
}

.btn-cancelar {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0.900rem 1.286rem;
    font-size: 18px;
    line-height: 1.333333333;
    font-weight: bold;
}

.btn-cancelar:hover {
    background-color: #FFF;
}

.o-bin-1::before {
	-webkit-text-stroke: 1px;
}

.form-group input, 
.form-group textarea,
.form-group select,
.input-group-text {
    color: #828282;
    font-size: 16px;
    padding: 16px 14px 16px 16px;
    border-radius: 8px;
    border-color: #7070704D;
    height: auto;
}

.input-group-text {
    background-color: #F3F3F3;
    border-left: 0px;
}

/* Dropify - Upload de Imagem */

.dropify-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px !important;
    width: 250px !important;
    border: 2px dashed #2E85EC;
    border-radius: 8px;
    margin: auto;
    font-weight: bold;
    background-color: #F8FDFF;
}

.dropify-wrapper .dropify-message {
    transform: none;
    top: auto;
}

.dropify-errors-container ul {
    padding-left: 0;
    font-size: 10px;
    color: red;
    padding-top: 10px;
}

.dropify-errors-container li {
    list-style-type: none;
}

.dropify-infos-message::before,
.dropify-filename span.dropify-filename-inner {
    display: none;
}

.dropify-wrapper .dropify-message span.file-icon, p {
    color: #0D2C54;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
    white-space: normal;
}

.dropify-filename span.file-icon::before {
    content: '\e800';
}

.dropify-filename span.file-icon {
    font-family: dropify;
    display: inline;
    font-size: 4em;
}

.dropify-wrapper .dropify-clear {
	color: #0D2C54;
	border: 2px solid #0D2C54;
}

.dropify-wrapper .dropify-preview .dropify-infos {
    background: #F8FDFFE6;
}

.dropify-wrapper:hover .dropify-preview .dropify-infos {
	opacity: .9;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
	line-height: 14px;
	color: #0D2C54;
	text-align: center;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
    margin-top: 0;
    padding-top: 8px;

}

.dropify-wrapper .dropify-clear {
    content: '';
	color: #0D2C54;
	border: 2px solid #0D2C54;
	border-radius: 8px;
	width: 40px;
	height: 40px;
	font-size: 20px;
}

/* Upload Digital Product Input */

.input-file-trigger::before {
    content: "\e800";
    font-family: dropify;
    font-size: 25px;
    margin-right: 10px;
}

#file_return,
.input-file-trigger {
    font-size: 15px;
    font-weight: bold;
}

.input-file-trigger {    
    color: #3B8CED;
    cursor: pointer;
    background-color: #F8FDFF;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
}

.input-file {
    display: none;
}

.div-expiration-time > .input-group {
    width: 160px;
}