label, h1, h4, a, a:hover, .o-arrow-right-1::before, .btn-cancelar, .btn-excluir {
    color: #707070;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
}

#div_digital_product_upload > label {
    margin: 8px auto;
}

a, 
a:hover,
.o-arrow-right-1::before {
    text-decoration: none;
}

.o-arrow-right-1::before {
    transform: rotate(180deg);
}

.btn-cancelar,
.btn-excluir {
    background: transparent;
    font-size: 18px;
    border: 0;
}

.btn-excluir,
.btn-excluir > span {
    font-size: 18px;
    color: #F10800;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-excluir:hover,
.btn-excluir:hover > span,
.btn-cancelar:hover {
    color: #000000;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group input, 
.form-group textarea,
.input-group-text {
    color: #828282;
    font-size: 16px;
    padding: 16px 14px 16px 16px;
    border-radius: 8px;
    border-color: #7070704D;
    height: auto;
}

.input-group-text {
    background-color: #F3F3F3;
    border-left: 0px;
}

.dropify-wrapper {
    height: 250px !important;
    width: 250px !important;
    border: 2px dashed #2E85EC;
    border-radius: 8px;
    margin: auto;
}

.dropify-wrapper .dropify-message span.file-icon, p {
    color: #0D2C54;
}

/* Upload Digital Product Input */

.input-file-trigger::before {
    content: "\e800";
    font-family: dropify;
    font-size: 25px;
    margin-right: 10px;
}

#file_return,
.input-file-trigger {
    font-size: 15px;
    font-weight: bold;
}

.input-file-trigger {    
    color: #3B8CED;
    cursor: pointer;
}


.input-file {
    display: none;
}

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    color: #39D2B4;
}
