label {
    font-size: 16px;
    color: #707070;
    margin-bottom: 8px;
}

#div_digital_product_upload > label {
    margin: 8px auto;
}

a, 
a:hover,
.o-arrow-right-1::before {
    text-decoration: none;
    color: #707070;
}

.o-arrow-right-1::before {
    transform: rotate(180deg);
}

.btn-cancelar,
.btn-excluir {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0.900rem 1.286rem;
    font-size: 15px;
    line-height: 1.333333333;
    color: #707070;
}

.btn-excluir {
    color: #F10800;
}

.form-group input, 
.form-group textarea,
.input-group-text {
    color: #828282;
    font-size: 16px;
    padding: 16px 14px 16px 16px;
    border-radius: 8px;
    border-color: #7070704D;
    height: auto;
}

.input-group-text {
    background-color: #F3F3F3;
    border-left: 0px;
}

.dropify-wrapper {
    height: 250px !important;
    width: 250px !important;
    border: 2px dashed #2E85EC;
    border-radius: 8px;
    margin: auto;
}

.dropify-wrapper .dropify-message span.file-icon, p {
    color: #0D2C54;
}

/* Upload Digital Product Input */

.input-file-trigger::before {
    content: "\e800";
    font-family: dropify;
    font-size: 25px;
    margin-right: 10px;
}

#file_return,
.input-file-trigger {
    font-size: 15px;
    font-weight: bold;
}

.input-file-trigger {    
    color: #3B8CED;
    cursor: pointer;
}


.input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    cursor: pointer;
}

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    color: #39D2B4;
}
