label {
    font-size: 16px;
    color: #707070;
    margin-bottom: 14px;
}

.form-group input, 
.form-group textarea {
    color: #828282;
    font-size: 16px;
    padding: 16px 14px 16px 16px;
    border-radius: 8px;
    border-color: #7070704D;
    height: auto;
}

.dropify-wrapper {
    border: 2px dashed #2E85EC;
    border-radius: 10px;
}

.dropify-wrapper .dropify-message span.file-icon, p {
    color: #0D2C54;
}

/* Upload Digital Product Input */

.input-file-trigger::before {
    content: "\e800";
    font-family: dropify;
    font-size: 25px;
    margin-right: 10px;
}

#file_return,
.input-file-trigger {
    font-size: 15px;
    font-weight: bold;
}

.input-file-trigger {    
    color: #3B8CED;
    cursor: pointer;
}


.input-file {
    position: absolute;
    top: 0; left: 0;
    width: 225px;
    opacity: 0;
    cursor: pointer;
}

.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
    color: #39D2B4;
}
